.my-name // <h1>
{
    font-family: "ZCOOLXiaoWei-Regular";
	color: rgb(100, 100, 100);
    letter-spacing: 0.5px;
    background-color: rgb(240, 240, 240);
    margin: 0;
    font-size: 1rem;
    padding: 15px;
}