// PORTFOLIO
.portfolio { // <main>
	display: flex;
	justify-content: center;
	padding: {
		top: 6.25rem;
		bottom: 6.25rem;
	}

	&__list { // <ul>
		display: inherit;
		justify-content: center;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;

		@media screen {
			@media #{$portrait} {
				max-width: 1080px;
			}

			@media #{$landscape} {
				max-width: 1920px;
			}
		}
	}
}