/* PORTFOLIO */
.portfolio {
	display: flex;
	justify-content: center;
	padding: {
		top: 6.25rem;
		bottom: 6.25rem;
	}

	&__list {
		display: inherit;
		justify-content: center;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
		row-gap: 5px;
		column-gap: 5px;

		@media screen {
			@media #{$portrait} {
				@include fluidContent(width, 250px, 800, 250, 100vw);

				@media #{$mq-w1080-up} {
					width: 800px;
				}
			}
	
			@media #{$landscape} {
				@include fluidContent(width, 400px, 1400, 400, 100vh);

				@media #{$mq-h1080-up} {
					width: 1400px;
				}
			}
		}
	}
}
