// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.footer { // <footer>
	height: 14rem;
	background-color: $darkGreen2;
	margin: {
		top: 5rem;
		right: 0;
		bottom: 0;
		left: 0;
	}
	padding: {
		top: 1.25rem;
	}
	box-shadow: 0 0 0.625rem $blackHalfTransparent;

	&__left-box { // <div>
	}

	&__links { // <ul>
		margin: {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		padding: {
			top: 1rem;
			right: 0;
			bottom: 1rem;
			left: 0;
		}
		border: {
			top: {
				style: solid;
				width: 0.063rem;
				color: $white;
			}
			bottom: {
				style: solid;
				width: 0.063rem;
				color: $white;
			}
		}
		list-style-type: none;
		display: flex;
		justify-content: space-evenly;
	}

	&__network { // <li>
		height: 1.5rem;
	}

	&__link { // <a>
		display: block;
	}

	&__icon { // <svg>
		color: $white;
		font-size: 1.5rem;
	}

	&__right-box { // <div>
		margin: {
			top: 2.5rem;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	&__credits { // <p>
		margin: {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		font: {
			family: $quicksandRegular;
			size: 0.8rem;
		}
		color: rgb(255, 255, 255);
		text-align: center;
	}
}