// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.menu { // <nav>
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(255, 255, 255);
	background: radial-gradient(circle at 100% 0%, $transparent 5%, $secondary-color 25%);

	&__list { // <ul>
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&__link { // <a>
		text-decoration: none;
		color: $default-link;
		-webkit-tap-highlight-color: transparent;
		animation: {
			iteration-count: infinite;
			duration: 1s;
		}
		font: {
			family: "DM Sans";
			size: 40px;
			weight: 700;
		}

	// 	@media #{$mq-w800-up} {
	// 		font-size: 28px;
	// 	}

	// 	@media #{$mq-w1600-up} {
	// 		font-size: 32px;
	// 	}

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				animation-name: pulse;
			}
		}

		&--active { // <a>
			color: $white;
		}
	}
}