// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.menu { // <nav>
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	@media #{$portrait} {
		background: radial-gradient(circle at calc(100% - 1.25rem - (1.875rem / 2)) calc(5rem / 2), $transparent 0.9375rem, $secondary-color 6.25rem);

		@media #{$mq-w400-up} {
			background: radial-gradient(circle at calc(100% - 1.25rem - (1.875rem / 2)) calc(5rem / 2), $transparent 0.9375rem, $secondary-color 9.375rem);
		}

		@media #{$mq-w500-up} {
			background: radial-gradient(circle at calc(100% - 1.25rem - (1.875rem / 2)) calc(5rem / 2), $transparent 0.9375rem, $secondary-color 12.5rem);
		}

		@media #{$mq-w600-up} {
			background: radial-gradient(circle at calc(100% - 1.875rem - (1.875rem / 2)) calc(5rem / 2), $transparent 0.9375rem, $secondary-color 15.625rem);
		}

		@media #{$mq-w700-up} {
			background: radial-gradient(circle at calc(100% - 1.875rem - (1.875rem / 2)) calc(6.25rem / 2), $transparent 0.9375rem, $secondary-color 18.75rem);
		}

		@media #{$mq-w800-up} {
			background: radial-gradient(circle at calc(100% - 1.875rem - (1.875rem / 2)) calc(6.25rem / 2), $transparent 0.9375rem, $secondary-color 21.875rem);
		}

		@media #{$mq-w900-up} {
			background: radial-gradient(circle at calc(100% - 2.5rem - (1.875rem / 2)) calc(6.25rem / 2), $transparent 0.9375rem, $secondary-color 25rem);
		}

		@media #{$mq-w1000-up} {
			background: radial-gradient(circle at calc(100% - 2.5rem - (1.875rem / 2)) calc(6.25rem / 2), $transparent 0.9375rem, $secondary-color 28.125rem);
		}
	}

	@media #{$landscape} {
		background: radial-gradient(circle at calc(100% - 1.875rem - (1.875rem / 2)) calc(4.375rem / 2), $transparent 0.9375rem, $secondary-color 6.25rem);

		@media #{$mq-h400-up} {
			background: radial-gradient(circle at calc(100% - 1.875rem - (1.875rem / 2)) calc(4.375rem / 2), $transparent 0.9375rem, $secondary-color 9.375rem);
		}

		@media #{$mq-h500-up} {
			background: radial-gradient(circle at calc(100% - 1.875rem - (1.875rem / 2)) calc(4.6875rem / 2), $transparent 0.9375rem, $secondary-color 12.5rem);
		}

		@media #{$mq-h600-up} {
			background: radial-gradient(circle at calc(100% - 1.875rem - (1.875rem / 2)) calc(5rem / 2), $transparent 0.9375rem, $secondary-color 15.625rem);
		}

		@media #{$mq-h700-up} {
			background: radial-gradient(circle at calc(100% - 1.875rem - (1.875rem / 2)) calc(5.3125rem / 2), $transparent 0.9375rem, $secondary-color 18.75rem);
		}

		@media #{$mq-h800-up} {
			background: radial-gradient(circle at calc(100% - 2.5rem - (1.875rem / 2)) calc(5.625rem / 2), $transparent 0.9375rem, $secondary-color 21.875rem);
		}

		@media #{$mq-h900-up} {
			background: radial-gradient(circle at calc(100% - 2.5rem - (1.875rem / 2)) calc(5.9375rem / 2), $transparent 0.9375rem, $secondary-color 25rem);
		}

		@media #{$mq-h1000-up} {
			background: radial-gradient(circle at calc(100% - 3.125rem - (1.875rem / 2)) calc(6.25rem / 2), $transparent 0.9375rem, $secondary-color 28.125rem);
		}
	}

	&__list { // <ul>
		display: flex;
		flex-direction: column;
		row-gap: 1.875rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&__link { // <a>
		text-decoration: none;
		color: $default-link;
		-webkit-tap-highlight-color: transparent;
		font: {
			family: $dm-sans;
			weight: 700;
		}

		@media #{$portrait} {
			font-size: 2.5rem;

			@media #{$mq-w400-up} {
				font-size: 2.8125rem;
			}

			@media #{$mq-w500-up} {
				font-size: 3.125rem;
			}

			@media #{$mq-w600-up} {
				font-size: 3.4375rem;
			}

			@media #{$mq-w700-up} {
				font-size: 3.75rem;
			}

			@media #{$mq-w800-up} {
				font-size: 4.0625rem;
			}

			@media #{$mq-w900-up} {
				font-size: 4.375rem;
			}

			@media #{$mq-w1000-up} {
				font-size: 4.6875rem;
			}
		}

		@media #{$landscape} {
			font-size: 2.5rem;

			@media #{$mq-h400-up} {
				font-size: 2.8125rem;
			}

			@media #{$mq-h500-up} {
				font-size: 3.125rem;
			}

			@media #{$mq-h600-up} {
				font-size: 3.4375rem;
			}

			@media #{$mq-h700-up} {
				font-size: 3.75rem;
			}

			@media #{$mq-h800-up} {
				font-size: 4.0625rem;
			}

			@media #{$mq-h900-up} {
				font-size: 4.375rem;
			}

			@media #{$mq-h1000-up} {
				font-size: 4.6875rem;
			}
		}

		&--active { // <a>
			color: $white;
		}
	}
}