// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.gallery { // <main>
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: {
		right: auto;
		left: auto;
	}
	padding: {
		top: 6.25rem;
		right: 10%;
		bottom: 6.25rem;
		left: 10%;
	}

	@media screen {
		@media #{$portrait} {
			max-width: 750px;
		}

		@media #{$landscape} {
			max-width: 1250px;
		}
	}

	&__list { // <ul>
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__listItem { // <li>
		aspect-ratio: 1 / 1;
		max-width: 250px;

		@media screen {
			@media #{$portrait} {
				min-width: 110px;
				width: 50%;
			}

			@media #{$landscape} {
				min-width: 120px;
				width: calc(100% / 3);
			}
		}
	}
}