// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.gallery { // <main>
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: {
		right: auto;
		left: auto;
	}
	padding: {
		top: 6.25rem;
		bottom: 6.25rem;
	}

	&__list { // <ul>
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
		padding: 0;
		list-style: none;
		row-gap: 5px;
		column-gap: 5px;

		@media screen {
			@media #{$portrait} {
				@include fluidContent(width, 250px, 800, 250, 100vw);

				@media #{$mq-w1080-up} {
					width: 800px;
				}
			}
	
			@media #{$landscape} {
				@include fluidContent(width, 400px, 1400, 400, 100vh);

				@media #{$mq-h1080-up} {
					width: 1400px;
				}
			}
		}
	}

	&__listItem { // <li>
		@media screen {
			@media #{$portrait} {
				aspect-ratio: 2.75 / 1;

				@media #{$mq-w600-up} {
					width: calc(50% - 5px);
				}
			}

			@media #{$landscape} {
				width: calc(50% - 5px);
				aspect-ratio: 5 / 2;

				@media #{$mq-h400-up} {
					aspect-ratio: 3 / 1;
				}
			}
		}
	}
}