// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.gallery { // <main>
	padding: {
		top: 5rem;
		bottom: 5rem;
	}

	&--dark-mode {
		@extend .gallery;
		background-color: $grey-18-dark-mode;
	}

	&__years-container { // <div>
		margin-top: 5rem;
		padding: {
			right: 1.25rem;
			left: 1.25rem;
		}
	}

	&__list { // <ul>
		display: flex;
		flex-wrap: wrap;
		grid-gap: 1.25rem;
		justify-content: center;
		margin: {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		padding: {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		list-style: none;
	}
}