// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.gallery { // <main>
	background: linear-gradient(to top, $tertiary-color 2%, $transparent 25%);

	&__list-container { // <div>
		padding: {
			top: 50px;
			right: 1rem;
			bottom: 50px;
			left: 1rem;
		}
	}

	&__list { // <ul>
		display: grid;
		grid-template-columns: 1fr 1fr;
		//row-gap: 16px;
		column-gap: 16px;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__list-item { // <li>
		&:nth-of-type(even) {
			margin-top: 16px;
		}
	}
}