// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.gallery { // <main>
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: {
		right: auto;
		left: auto;
	}
	padding: {
		top: 6.25rem;
		right: 10%;
		bottom: 6.25rem;
		left: 10%;
	}

	&__list { // <ul>
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__list-item { // <li>
		@media #{$portrait} {
			width: 6.25rem;
			height: 6.25rem;

			@media #{$mq-w400-up} {
				width: 9.375rem;
				height: 9.375rem;
			}

			@media #{$mq-w500-up} {
				width: 11.875rem;
				height: 11.875rem;
			}

			@media #{$mq-w600-up} {
				width: 12.5rem;
				height: 12.5rem;
			}
		}

		@media #{$landscape} {
			width: 7.5rem;
			height: 7.5rem;

			@media #{$mq-h400-up} {
				width: 9.375rem;
				height: 9.375rem;
			}

			@media #{$mq-h500-up} {
				width: 11.25rem;
				height: 11.25rem;
			}

			@media #{$mq-h600-up} {
				width: 12.5rem;
				height: 12.5rem;
			}

			@media #{$mq-h700-up} {
				width: 14.375rem;
				height: 14.375rem;
			}

			@media #{$mq-h800-up} {
				width: 16.25rem;
				height: 16.25rem;
			}

			@media #{$mq-h900-up} {
				width: 17.5rem;
				height: 17.5rem;
			}

			@media #{$mq-h1000-up} {
				width: 18.75rem;
				height: 18.75rem;
			}
		}
	}
}