// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

html {
	height: 100%;
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	height: 100%;
	margin: 0;
	box-sizing: border-box;
	font-family: "DM Sans", Arial, Helvetica, sans-serif;
	background-color: $color-4;
	color: white;
}

#app {
	height: 100%;
}

.view {
	&--hidden {
		opacity: 0;
		transform: translateY(-20px);
	}

	&--visible {
		opacity: 1;
		transform: translateY(0);
		transition: {
			property: opacity transform;
			duration: 2s;
		}
	}
}

.scrollBlocked {
	overflow-y: hidden;
}