// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

@keyframes reveal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInAndOut1 {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeInAndOut2 {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeInAndOut3 {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeInAndOut4 {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeInAndOut5 {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes moveDownAndUp {
	0% {
		bottom: 30px;
	}

	50% {
		bottom: 20px;
	}

	100% {
		bottom: 30px;
	}
}

@keyframes rotateSystem {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg)
	}
}

@keyframes topBarToCross {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(9px);
	}

	100% {
		transform: translateY(9px) rotate(-45deg);
	}
}

@keyframes middleBarToTransparent {
	0% {
		background-color: $color-5;
	}

	50% {
		background-color: $color-5;
	}

	51% {
		background-color: transparent;
	}

	100% {
		background-color: transparent;
	}
}

@keyframes bottomBarToCross {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-9px);
	}

	100% {
		transform: translateY(-9px) rotate(45deg);
	}
}

@keyframes topBarToHamburger {
	0% {
		transform: translateY(9px) rotate(-45deg);
	}

	50% {
		transform: translateY(9px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes middleBarToOpaque {
	0% {
		background-color: transparent;
	}

	50% {
		background-color: transparent;
	}

	51% {
		background-color: $color-5;
	}

	100% {
		background-color: $color-5;
	}
}

@keyframes bottomBarToHamburger {
	0% {
		transform: translateY(-9px) rotate(45deg);
	}

	50% {
		transform: translateY(-9px);
	}

	100% {
		transform: translateY(0);
	}
}