// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

// Scroll reveal animation
@keyframes reveal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// Hero background images carousel
@keyframes fadeInAndOut1 {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeInAndOut2 {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeInAndOut3 {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeInAndOut4 {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeInAndOut5 {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

// Scroll down icon animation
@keyframes topFigureBlinking {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes middleFigureBlinking {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes bottomFigureBlinking {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

// Loading screen animation
@keyframes planetsRevolution {
	0% {
		offset-distance: 0%;
	}

	100% {
		offset-distance: -100%;
	}
}

// Menu icon animation
@keyframes topFigureToCross {
	0% {
		transform: translate(0, 0);
	}

	50% {
		transform: translate(0, 9px);
	}

	100% {
		transform: translate(0, 9px) rotate(-45deg);
	}
}

@keyframes topFigureToHamburger {
	0% {
		transform: translate(0, 9px) rotate(-45deg);
	}

	50% {
		transform: translate(0, 9px);
	}

	100% {
		transform: translate(0, 0);
	}
}

@keyframes middleFigureToTransparent {
	0% {
		fill: white;
	}

	50% {
		fill: white;
	}

	51% {
		fill: transparent;
	}

	100% {
		fill: transparent;
	}
}

@keyframes middleFigureToOpaque {
	0% {
		fill: transparent;
	}

	50% {
		fill: transparent;
	}

	51% {
		fill: white;
	}

	100% {
		fill: white;
	}
}

@keyframes bottomFigureToCross {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-9px);
	}

	100% {
		transform: translateY(-9px) rotate(45deg);
	}
}

@keyframes bottomFigureToHamburger {
	0% {
		transform: translateY(-9px) rotate(45deg);
	}

	50% {
		transform: translateY(-9px);
	}

	100% {
		transform: translateY(0);
	}
}