// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

@mixin fluidContent($property, $min-size-px, $max-size, $min-size, $max-viewport-vw-vh, $min-viewport-px, $max-viewport, $min-viewport) {
	#{$property}: calc(#{$min-size-px} + (#{$max-size} - #{$min-size}) * ((#{$max-viewport-vw-vh} - #{$min-viewport-px}) / (#{$max-viewport} - #{$min-viewport})));
}

@mixin revealOnLoad {
	animation: {
		name: reveal;
		duration: 2s;
		delay: 0.5s;
		fill-mode: both;
	}
}

@mixin revealOnLoadOneSecondDelay {
	@include revealOnLoad;
	animation-delay: 1s;
}

@mixin revealOnLoadTwoSecondsDelay {
	@include revealOnLoad;
	animation-delay: 1.5s;
}

@mixin revealOnLoadThreeSecondsDelay {
	@include revealOnLoad;
	animation-delay: 2s;
}