@font-face {
	font-family: "Quicksand-Regular";
	src: url("./../fonts/Quicksand/Quicksand-Regular.ttf");
}

@font-face {
	font-family: "ZCOOLXiaoWei-Regular";
	src: url("./../fonts/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.ttf");
}

@font-face {
	font-family: "Cormorant_Upright-Medium";
	src: url("./../fonts/Cormorant_Upright/CormorantUpright-Medium.ttf");
}

body {
	display: flex;
	margin: 0;
	height: 100vh;
}

@import "./header/header", "./index-page/index", "./about-page/about";