@font-face {
	font-family: "JosefinSans-Light";
	src: ("./../fonts/Josefin_Sans/JosefinSans-Light.eot") format("eot");
	src: ("./../fonts/Josefin_Sans/JosefinSans-Light.ttf") format("ttf");
	src: ("./../fonts/Josefin_Sans/JosefinSans-Light.woff") format("woff");
	src: ("./../fonts/Josefin_Sans/JosefinSans-Light.woff2") format("woff2");
}

@font-face {
	font-family: "Montserrat-Regular";
	src: ("./../fonts/Montserrat/Montserrat-Regular.eot") format("eot");
	src: ("./../fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
	src: ("./../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
	src: ("./../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "ZCOOLXiaoWei-Regular";
	src: ("./../fonts/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.eot") format("eot");
	src: ("./../fonts/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.ttf") format("ttf");
	src: ("./../fonts/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.woff") format("woff");
	src: ("./../fonts/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.woff2") format("woff2");
}

@import "./templates/header", "./index-page/index";