@font-face {
	font-family: "JosefinSans-Light";
	src: url("./../fonts/Josefin_Sans/JosefinSans-Light.eot") format("eot"),
	url("./../fonts/Josefin_Sans/JosefinSans-Light.ttf") format("ttf"),
	url("./../fonts/Josefin_Sans/JosefinSans-Light.woff") format("woff"),
	url("./../fonts/Josefin_Sans/JosefinSans-Light.woff2") format("woff2");
}

@font-face {
	font-family: "Montserrat-Regular";
	src: url("./../fonts/Montserrat/Montserrat-Regular.eot") format("eot"),
	url("./../fonts/Montserrat/Montserrat-Regular.ttf") format("ttf"),
	url("./../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
	url("./../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "ZCOOLXiaoWei-Regular";
	src: url("./../fonts/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.eot") format("eot"),
	url("./../fonts/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.ttf") format("ttf"),
	url("./../fonts/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.woff") format("woff"),
	url("./../fonts/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.woff2") format("woff2");
}

@import "./templates/header", "./index-page/index", "./about-page/about";

body {
	display: flex;
	margin: 0;
	height: 100vh;
}