// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.hero { // <div>
	background: {
		attachment: fixed;
		repeat: no-repeat;
		size: cover;
	}
	width: 100%;
	height: 100%;

	&__homepage {
		background: {
			image: url("https://lh3.googleusercontent.com/M-Cy0zTisnpjaCobpnmSGw_csGA2HHgEu4wqXJPvjTl9GWDN2KLQPJ_AorRD3soNtjQIs6XIESn2F1UjePrTmZ8yw_gMpVNPFQJrYnDf131Lrog2HuzYKk5SJGLOTy_ojY6-KfIh6g=w1920-h1080");
			position-x: 50%;
		}
	}

	&__gallery {
		background: {
			image: url("https://lh3.googleusercontent.com/x-Epo9_cT7fBvPu03CuZ4Pxhsi6zxbtSEtQ4lAftMDGB6tNkEguZBX8lkX_OnGINJS-2j4tipj1ZRiEVyOanbOO3SO_mRA_vIJ3vN4RTasKjPi5vFaeK-AA3Wj14P7c5jGFHHf7T2g=w1920-h1080");
			position-x: 50%;
		}
	}

	&__back-filter { // <div>
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: inherit;
		height: inherit;
		background-color: $half-transparent;
	}

	&__move-down-icon { // <div>
		position: absolute;
		left: calc(50% - 25px / 2);
		bottom: 30px;
		width: 25px;
		height: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: {
			property: bottom;
			duration: 0.5s;
		}

		&--down { // <div>
			bottom: 20px;
		}
	}

	&__arrow { // <div>
		width: 100%;
		height: 100%;
		background-color: $white;
		clip-path: polygon(0 0, 50% 12px, 100% 0, 100% 3px, 50% 15px, 0 3px);
	}

	&__title {
		margin: 0;
		padding: {
			right: 20px;
			left: 20px;
		}
		color: $white;
		font: {
			family: $crimson-pro;
			weight: 100;
		}

		&--homepage { // <h2>
			@extend .hero__title;

			@media #{$portrait} {
				font-size: 35px;
				line-height: 40px;

				@media #{$mq-w400-up} {
					font-size: 40px;
					line-height: 45px;
				}

				@media #{$mq-w500-up} {
					font-size: 50px;
					line-height: 55px;
				}

				@media #{$mq-w600-up} {
					font-size: 60px;
					line-height: 65px;
				}

				@media #{$mq-w700-up} {
					font-size: 65px;
					line-height: 70px;
				}

				@media #{$mq-w800-up} {
					font-size: 75px;
					line-height: 80px;
				}

				@media #{$mq-w900-up} {
					font-size: 85px;
					line-height: 90px;
				}

				@media #{$mq-w1000-up} {
					font-size: 90px;
					line-height: 95px;
				}
			}
		}

		&--gallery {
			@extend .hero__title;
		}

		// @media #{$landscape} {
		// 	@media #{$mq-h400-up} {
		// 		font-size: 2.8125rem;
		// 		line-height: 2.8125rem;
		// 	}

		// 	@media #{$mq-h500-up} {
		// 		font-size: 3.125rem;
		// 		line-height: 3.125rem;
		// 	}

		// 	@media #{$mq-h600-up} {
		// 		font-size: 3.4375rem;
		// 		line-height: 3.4375rem;
		// 	}

		// 	@media #{$mq-h700-up} {
		// 		font-size: 3.75rem;
		// 		line-height: 3.75rem;
		// 	}

		// 	@media #{$mq-h800-up} {
		// 		font-size: 4.375rem;
		// 		line-height: 4.375rem;
		// 	}

		// 	@media #{$mq-h900-up} {
		// 		font-size: 4.6875rem;
		// 		line-height: 4.6875rem;
		// 	}

		// 	@media #{$mq-h1000-up} {
		// 		font-size: 5rem;
		// 		line-height: 5rem;
		// 	}
		// }

		.title {
			position: relative;
			z-index: 1;
			display: block;

			&__job {
				&-part1 { // <span>
					@extend .title;
					-webkit-text-fill-color: $transparent;
					-webkit-text-stroke-color: $white;
					-webkit-text-stroke-width: 1px;
				}

				&-part2 { // <span>
					@extend .title;
					font-weight: 900;
				}
			}

			&__ampersand { // <span>
				@extend .title;
				z-index: 0;
				display: block;
				color: $secondary-color;
				padding-left: 20px;

				@media #{$portrait} {
					font-size: 120px;

					@media #{$mq-w400-up} {
						font-size: 135px;
					}

					@media #{$mq-w500-up} {
						font-size: 165px;
					}

					@media #{$mq-w600-up} {
						font-size: 195px;
					}

					@media #{$mq-w700-up} {
						font-size: 210px;
					}

					@media #{$mq-w800-up} {
						font-size: 240px;
					}

					@media #{$mq-w900-up} {
						font-size: 270px;
					}

					@media #{$mq-w1000-up} {
						font-size: 285px;
					}
				}
			}

			&__hobby {
				&-part1 { // <span>
					@extend .title__job-part1;
				}

				&-part2 { // <span>
					@extend .title__job-part2;
				}
			}

			&__page { // <span>
				display: block;
				font-weight: 900;

				@media #{$portrait} {
					font-size: 35px;

					@media #{$mq-w400-up} {
						font-size: 40px;
					}

					@media #{$mq-w500-up} {
						font-size: 50px;
					}

					@media #{$mq-w600-up} {
						font-size: 60px;
					}

					@media #{$mq-w700-up} {
						font-size: 65px;
					}

					@media #{$mq-w800-up} {
						font-size: 75px;
					}

					@media #{$mq-w900-up} {
						font-size: 85px;
					}

					@media #{$mq-w1000-up} {
						font-size: 90px;
					}
				}
			}

			&__intro { // <span>
				display: block;
				font: {
					size: 25px;
					weight: 100;
				}
			}
		}
	}

	// &__subtitle { // <h2>
	// 	font: {
	// 		family: $dm-sans;
	// 		size: 0.9375rem;
	// 		weight: 200;
	// 	}
	// 	line-height: 1.5625rem;

	// 	@media #{$portrait} {
	// 		@media #{$mq-w400-up} {
	// 			font-size: 17px;
	// 			line-height: 27px;
	// 		}

	// 		@media #{$mq-w500-up} {
	// 			font-size: 1.1875rem;
	// 			line-height: 1.8125rem;
	// 		}

	// 		@media #{$mq-w600-up} {
	// 			font-size: 1.3125rem;
	// 			line-height: 1.9375rem;
	// 		}

	// 		@media #{$mq-w700-up} {
	// 			font-size: 1.4375rem;
	// 			line-height: 2.0625rem;
	// 		}

	// 		@media #{$mq-w800-up} {
	// 			font-size: 1.5625rem;
	// 			line-height: 2.1875rem;
	// 		}

	// 		@media #{$mq-w900-up} {
	// 			font-size: 1.6875rem;
	// 			line-height: 2.3125rem;
	// 		}

	// 		@media #{$mq-w1000-up} {
	// 			font-size: 1.8125rem;
	// 			line-height: 2.4375rem;
	// 		}
	// 	}

	// 	@media #{$landscape} {
	// 		@media #{$mq-h400-up} {
	// 			font-size: 1.125rem;
	// 			line-height: 1.75rem;
	// 		}

	// 		@media #{$mq-h500-up} {
	// 			font-size: 1.1875rem;
	// 			line-height: 1.8125rem;
	// 		}

	// 		@media #{$mq-h600-up} {
	// 			font-size: 1.25rem;
	// 			line-height: 1.875rem;
	// 		}

	// 		@media #{$mq-h700-up} {
	// 			font-size: 1.3125rem;
	// 			line-height: 1.9375rem;
	// 		}

	// 		@media #{$mq-h800-up} {
	// 			font-size: 1.375rem;
	// 			line-height: 2rem;
	// 		}

	// 		@media #{$mq-h900-up} {
	// 			font-size: 1.4375rem;
	// 			line-height: 2.0625rem;
	// 		}

	// 		@media #{$mq-h1000-up} {
	// 			font-size: 1.5rem;
	// 			line-height: 2.125rem;
	// 		}
	// 	}
	// }
}