// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.hero { // <div>
	background: {
		attachment: fixed;
		repeat: no-repeat;
		size: cover;
	}
	width: 100vw;
	height: 100%;
	clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 30px), 0% 100%);

	&__homepage {
		background: {
			image: url("https://lh3.googleusercontent.com/M-Cy0zTisnpjaCobpnmSGw_csGA2HHgEu4wqXJPvjTl9GWDN2KLQPJ_AorRD3soNtjQIs6XIESn2F1UjePrTmZ8yw_gMpVNPFQJrYnDf131Lrog2HuzYKk5SJGLOTy_ojY6-KfIh6g=w1920-h1080");
			position-x: 50%;
		}
	}

	&__gallery {
		background: {
			image: url("https://lh3.googleusercontent.com/x-Epo9_cT7fBvPu03CuZ4Pxhsi6zxbtSEtQ4lAftMDGB6tNkEguZBX8lkX_OnGINJS-2j4tipj1ZRiEVyOanbOO3SO_mRA_vIJ3vN4RTasKjPi5vFaeK-AA3Wj14P7c5jGFHHf7T2g=w1920-h1080");
			position-x: 50%;
		}
	}

	&__back-filter { // <div>
		width: inherit;
		height: inherit;
		background-color: rgba(0, 0, 0, 0.45);
		color: $white;
	}

	&__gradient { // <div>
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 10px;
		width: inherit;
		height: inherit;
	}

	&__title { // <h1>
		display: flex;
		row-gap: 0.7813rem;
		text-align: center;
		text-shadow: 0 0 0.4688rem $white;
		margin: {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		font: {
			family: "Bebas Neue", Arial, Helvetica, sans-serif;
			size: 2.1875rem;
			weight: 100;
		}
		letter-spacing: 0.0625rem;
		line-height: 2.1875rem;

		@media #{$portrait} {
			@media #{$mq-w400-up} {
				font-size: 2.5rem;
				line-height: 2.5rem;
			}

			@media #{$mq-w500-up} {
				font-size: 2.8125rem;
				line-height: 2.8125rem;
			}

			@media #{$mq-w600-up} {
				font-size: 3.125rem;
				line-height: 3.125rem;
			}

			@media #{$mq-w700-up} {
				font-size: 3.4375rem;
				line-height: 3.4375rem;
			}

			@media #{$mq-w800-up} {
				font-size: 3.75rem;
				line-height: 3.75rem;
			}

			@media #{$mq-w900-up} {
				font-size: 4.0625rem;
				line-height: 4.0625rem;
			}

			@media #{$mq-w1000-up} {
				font-size: 4.375rem;
				line-height: 4.375rem;
			}
		}

		@media #{$landscape} {
			@media #{$mq-h400-up} {
				font-size: 2.8125rem;
				line-height: 2.8125rem;
			}

			@media #{$mq-h500-up} {
				font-size: 3.125rem;
				line-height: 3.125rem;
			}

			@media #{$mq-h600-up} {
				font-size: 3.4375rem;
				line-height: 3.4375rem;
			}

			@media #{$mq-h700-up} {
				font-size: 3.75rem;
				line-height: 3.75rem;
			}

			@media #{$mq-h800-up} {
				font-size: 4.0625rem;
				line-height: 4.0625rem;
			}

			@media #{$mq-h900-up} {
				font-size: 4.375rem;
				line-height: 4.375rem;
			}

			@media #{$mq-h1000-up} {
				font-size: 4.6875rem;
				line-height: 4.6875rem;
			}
		}
	}

	&__subtitle { // <h2>
		font: {
			family: "DM Sans", Arial, Helvetica, sans-serif;
			size: 0.9375rem;
			weight: 200;
		}
		line-height: 1.5625rem;
		margin: 0;
		text-align: center;
		padding: {
			right: 16px;
			left: 16px;
		}

		@media #{$portrait} {
			@media #{$mq-w400-up} {
				font-size: 1rem;
				line-height: 1.625rem;
			}

			@media #{$mq-w500-up} {
				font-size: 1.0625rem;
				line-height: 1.6875rem;
			}

			@media #{$mq-w600-up} {
				font-size: 1.125rem;
				line-height: 1.75rem;
			}

			@media #{$mq-w700-up} {
				font-size: 1.1875rem;
				line-height: 1.8125rem;
			}

			@media #{$mq-w800-up} {
				font-size: 1.25rem;
				line-height: 1.875rem;
			}

			@media #{$mq-w900-up} {
				font-size: 1.3125rem;
				line-height: 1.9375rem;
			}

			@media #{$mq-w1000-up} {
				font-size: 1.375rem;
				line-height: 2rem;
			}
		}

		@media #{$landscape} {
			@media #{$mq-h400-up} {
				font-size: 1.125rem;
				line-height: 1.75rem;
			}

			@media #{$mq-h500-up} {
				font-size: 1.1875rem;
				line-height: 1.8125rem;
			}

			@media #{$mq-h600-up} {
				font-size: 1.25rem;
				line-height: 1.875rem;
			}

			@media #{$mq-h700-up} {
				font-size: 1.3125rem;
				line-height: 1.9375rem;
			}

			@media #{$mq-h800-up} {
				font-size: 1.375rem;
				line-height: 2rem;
			}

			@media #{$mq-h900-up} {
				font-size: 1.4375rem;
				line-height: 2.0625rem;
			}

			@media #{$mq-h1000-up} {
				font-size: 1.5rem;
				line-height: 2.125rem;
			}
		}
	}
}