// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.hero { // <div>
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;

	&__container {
		position: absolute;
		background: {
			attachment: fixed;
			repeat: no-repeat;
			size: cover;
		}
		width: inherit;
		height: inherit;
	}

	&__background {
		background-position-x: 50%;
		animation: {
			duration: 10s;
			timing-function: linear;
		}

		&--1 { // <div>
			@extend .hero__background;
			background-image: url("https://live.staticflickr.com/65535/52507757779_cfd3ca9931_o.jpg");
			animation-name: fadeInAndOut1;
		}

		&--2 { // <div>
			@extend .hero__background;
			background-image: url("https://live.staticflickr.com/65535/52507487906_e610e9fc6d_o.jpg");
			animation-name: fadeInAndOut2;
		}

		&--3 { // <div>
			@extend .hero__background;
			background: {
				image: url("https://live.staticflickr.com/65535/52508039833_f775737595_o.jpg");
				position-x: 20%;
			}
			animation-name: fadeInAndOut3;
		}

		&--4 { // <div>
			@extend .hero__background;
			background-image: url("https://live.staticflickr.com/65535/52507486406_1b80fd307b_o.jpg");
			animation-name: fadeInAndOut4;
		}

		&--5 { // <div>
			@extend .hero__background;
			background: {
				image: url("https://live.staticflickr.com/65535/52507002027_e9c653d29c_o.jpg");
				position-x: 70%;
			}
			animation-name: fadeInAndOut5;
		}

		&--404 { // <div>
			@extend .hero__background;
			background: {
				image: url("https://live.staticflickr.com/65535/52506996562_f95be15062_o.jpg");
				position-x: 20%;
			}
			animation: {
				name: fadeIn;
				duration: 2s;
			}
		}
	}

	&__backFilter { // <div>
		width: inherit;
		height: inherit;
		background-color: $half-transparent;
	}

	&__title {
		@include revealOnLoad;
		animation-delay: 1s;
		margin: 0;
		color: $color-8;
		font: {
			family: $jost;
			weight: 600;
		}
		text-align: center;
		width: 100%;
		letter-spacing: 2px;

		&--homepage { // <h2>
			@extend .hero__title;

			@media screen {
				@media #{$portrait} {
					@include fluidContent(font-size, 40px, 90, 40, 100vw);
					@include fluidContent(line-height, 40px, 90, 40, 100vw);

					@media #{$mq-w1080-up} {
						font-size: 90px;
						line-height: 90px;
					}
				}

				@media #{$landscape} {
					@include fluidContent(font-size, 32px, 100, 32, 100vh);
					@include fluidContent(line-height, 32px, 100, 32, 100vh);

					@media #{$mq-h1080-up} {
						font-size: 100px;
						line-height: 100px;
					}
				}
			}
		}

		&--gallery { // <h2>
			@extend .hero__title;

			@media screen {
				@media #{$portrait} {
					@include fluidContent(font-size, 40px, 90, 40, 100vw);
					@include fluidContent(letter-spacing, 5px, 15, 5, 100vw);

					@media #{$mq-w1080-up} {
						font-size: 90px;
						letter-spacing: 15px;
					}
				}

				@media #{$landscape} {
					@include fluidContent(font-size, 32px, 100, 32, 100vh);
					@include fluidContent(letter-spacing, 5px, 15, 5, 100vh);

					@media #{$mq-h1080-up} {
						font-size: 100px;
						letter-spacing: 15px;
					}
				}
			}
		}

		&--portfolio { // <h2>
			@extend .hero__title--gallery;
		}

		&--404 { // h2
			@extend .hero__title;

			@media screen {
				@media #{$portrait} {
					@include fluidContent(font-size, 35px, 90, 35, 100vw);

					@media #{$mq-w1080-up} {
						font-size: 90px;
					}
				}

				@media #{$landscape} {
					@include fluidContent(font-size, 27px, 90, 27, 100vh);

					@media #{$mq-h1080-up} {
						font-size: 90px;
					}
				}
			}
		}

		.title {
			position: relative;
			z-index: 1;
			display: block;

			&__job {
				&Part1 { // <span>
					@extend .title;
					font-weight: 200;
				}

				&Part2 { // <span>
					@extend .title;
				}
			}

			&__ampersand { // <span>
				@extend .title;
				z-index: 0;
				display: block;
				color: $color-7;
				opacity: 0.5;
				font-weight: 300;

				@media screen {
					@media #{$portrait} {
						@include fluidContent(font-size, 300px, 670, 300, 100vw);

						@media #{$mq-w1080-up} {
							font-size: 670px;
						}
					}

					@media #{$landscape} {
						@include fluidContent(font-size, 240px, 750, 240, 100vh);

						@media #{$mq-h1080-up} {
							font-size: 750px;
						}
					}
				}
			}

			&__hobby {
				&Part1 { // <span>
					@extend .title__jobPart1;
				}

				&Part2 { // <span>
					@extend .title__jobPart2;
				}
			}
		}
	}

	&__scrollDown { // <div>
		@include revealOnLoad;
		animation-delay: 1.5s;
		position: absolute;
		bottom: 20px;
		display: flex;
		justify-content: center;
		width: 100%;
		opacity: 0;
	}

	&__scrollDownContainer { // <div>
		@media screen {
			@media #{$portrait} {
				@include fluidContent(width, 30px, 40, 30, 100vw);
				@include fluidContent(height, 30px, 40, 30, 100vw);

				@media #{$mq-w1080-up} {
					width: 40px;
					height: 40px;
				}
			}

			@media #{$landscape} {
				@include fluidContent(width, 28px, 42, 28, 100vh);
				@include fluidContent(height, 28px, 42, 28, 100vh);

				@media #{$mq-h1080-up} {
					width: 42px;
					height: 42px;
				}
			}
		}
	}

	.link__backToHomepage { // <a>
		@include revealOnLoad;
		animation-delay: 1.5s;
		position: absolute;
		bottom: 40px;
		z-index: 0;
		color: $color-8;
		text-decoration: none;
		width: fit-content;
		height: fit-content;
		border: {
			top: {
				style: solid;
				width: 1px;
				color: transparent;
			}
			bottom: {
				style: solid;
				width: 1px;
				color: transparent;
			}
		}
		padding: {
			top: 7.5px;
			right: 7.5px;
			bottom: 7.5px;
			left: 7.5px;
		}
		transition: {
			property: border-top-color border-bottom-color;
			duration: 1s;
		}

		@media screen {
			@media #{$portrait} {
				@include fluidContent(font-size, 16px, 24, 16, 100vw);

				@media #{$mq-w1080-up} {
					font-size: 24px;
				}
			}

			@media #{$landscape} {
				@include fluidContent(font-size, 16px, 22, 16, 100vh);

				@media #{$mq-h1080-up} {
					font-size: 22px;
				}
			}
		}

		&:hover {
			border: {
				top-color: $color-8;
				bottom-color: $color-8;
			}
		}
	}
}