// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.backToTop { // <button>
	position: fixed;
	right: 0;
	bottom: 40px;
	display: flex;
	align-items: center;
	width: 20px;
	height: 30px;
	background-color: $color-2;
	margin: 0;
	padding: 0;
	border: {
		style: none;
		bottom-left-radius: 7.5px;
		top-left-radius: 7.5px;
	}
	cursor: pointer;

	&__arrow { // <span>
		position: relative;
		left: 2.5px;
		display: block;
		width: 15px;
		height: 15px;
		clip-path: polygon(0% 65%, 50% 15%, 100% 65%, 100% 85%, 50% 35%, 0% 85%);
		background-color: $color-5;
	}
}