.gallery__list-item // <li>
{
  position: relative;
  margin: {
    top: 0;
    right: 0;
    bottom: 40px;
    left: 0;
  }
  width: 100%;
  // border-style: solid;
  // border-width: 1px;

  .gallery__link // <a>
  {
    display: block;
    // width: inherit;
    // height: inherit;
    text-decoration: none;
    color: rgb(255, 255, 255);

    .gallery__thumbnail // <img>
    {
      width: 100%;
      height: inherit;
      filter: brightness(50%) blur(2px);
      vertical-align: middle;
    }

    .gallery__year // <span>
    {
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      font-size: 3rem;
      justify-content: center;
      align-items: center;
    }
  }

  .gallery__list-item:last-of-type // <li>
  {
    margin: {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}