.photos-list // <div>
{
    .photos-list__title-container // <div>
    {
        margin: {
            top: 0;
            right: 0;
            bottom: 40px;
            left: 0;
        }

        .photos-list__title-1 // <h2>
        {
            margin: {
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            font: {
                family: "Architects_Daughter";
                size: 2rem;
            }
            text-align: center;
        }
    }
}