// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.photosCards { // <div>
	width: 100%;
	height: 100%;

	span {
		width: inherit;
		height: inherit;
	}

	&__image { // <img>
		width: 100%;
		height: 100%;
		vertical-align: middle;
		object-fit: cover;
	}
}