// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.modal { // <div>
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $dark-grey;
	color: $white;

	&__image-container { // <figure>
		margin: {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	&__image { // <img>
		width: 100%;
	}

	&__caption { // <figcaption>
		font-size: 0.75rem;
		//color: $white;
		font-style: italic;
		text-align: right;
		padding: {
			top: 0;
			right: 1rem;
			bottom: 0;
			left: 0;
		}
	}

	&__close { // <div>
		position: absolute;
		left: calc(50vw - 1.75rem);
		bottom: 10vh;
		display: flex;
		width: 3.5rem;
		height: 3.5rem;
		margin: {
			top: 0;
			right: auto;
			bottom: 0;
			left: auto;
		}
		cursor: pointer;
		background-color: $black-50;
		border-radius: 3.5rem;
		justify-content: center;
		align-items: center;
		transition-property: background-color;
		transition-duration: 0.5s;
		-webkit-tap-highlight-color: transparent;

		&:hover {
			background-color: $black;
		}

		.material-icons {
			font-size: 2rem;

			&.dark-mode {
				color: $white-215-dark-mode;
			}
		}
	}
}