// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.photos-list { // <main>
	margin: {
		top: 5rem;
		right: auto;
		bottom: 0;
		left: auto;
	}
	padding: {
		right: 1.25rem;
		left: 1.25rem;
	}
	@media #{$mq-400-up} {
		max-width: 22.5rem;
		padding: unset;
	}
	@media #{$mq-700-up} {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1.25rem;
		max-width: 41.25rem;
	}
	@media #{$mq-1000-up} {
		grid-template-columns: 1fr 1fr 1fr;
		max-width: 60rem;
	}
	@media #{$mq-1400-up} {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		max-width: 85rem;
	}
}