// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.photos-list { // <main>
	padding: {
		top: 5rem;
		bottom: 5rem;
	}
	display: flex;
	flex-wrap: wrap;
	grid-gap: 1.25rem;
	justify-content: center;
	padding: {
		right: 1.25rem;
		left: 1.25rem;
	}

	&--dark-mode {
		@extend .photos-list;
		background-color: $grey-18-dark-mode;
	}
}