// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.photos-list { // <main>
	margin: {
		top: 5rem;
		bottom: 0;
	}
	display: flex;
	flex-wrap: wrap;
	grid-gap: 1.25rem;
	justify-content: center;
	padding: {
		right: 1.25rem;
		left: 1.25rem;
	}
}