// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.homepage { // <main>
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 4.6875rem;
	margin: {
		right: auto;
		left: auto;
	}
	padding: {
		top: 6.25rem;
		right: 20px;
		bottom: 6.25rem;
		left: 20px;
	}

	&__myPhoto { // <div>
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 2.5rem;

		@media screen {
			@media #{$portrait} {
				max-width: 700px;
			}

			@media #{$landscape} {
				max-width: 1000px;
			}
		}
	}

	&__introduction { // <p>
		font-family: $economica;
		margin: 0;

		@media screen {
			@media #{$portrait} {
				@include fluidContent(font-size, 30px, 40, 30, 100vw);

				@media #{$mq-w1080-up} {
					font-size: 40px;
				}
			}

			@media #{$landscape} {
				@include fluidContent(font-size, 28px, 50, 28, 100vh);

				@media #{$mq-h1080-up} {
					font-size: 50px;
				}
			}
		}
	}

	&__description { // <div>
		display: flex;
		flex-direction: column;
		row-gap: 3.125rem;

		@media screen {
			@media #{$portrait} {
				max-width: 700px;
			}

			@media #{$landscape} {
				max-width: 1000px;
			}
		}
	}

	&__section { // <div>
		display: flex;
		flex-direction: column;
		row-gap: 1.5625rem;
	}

	&__title { // <h3>
		font-family: $economica;
		border-left: {
			style: solid;
			width: 0.3125rem;
			color: $color-1;
		}
		padding: {
			top: 0.625rem;
			bottom: 0.625rem;
			left: 1.25rem;
		}
		margin: 0;

		@media screen {
			@media #{$portrait} {
				@include fluidContent(font-size, 28px, 38, 28, 100vw);

				@media #{$mq-w1080-up} {
					font-size: 38px;
				}
			}

			@media #{$landscape} {
				@include fluidContent(font-size, 28px, 40, 28, 100vh);

				@media #{$mq-h1080-up} {
					font-size: 40px;
				}
			}
		}

		&:after {
			content: "\002E";
			color: $color-1;
		}
	}

	&__paragraph { // <p>
		margin: 0;

		@media screen {
			@media #{$portrait} {
				@include fluidContent(font-size, 18px, 20, 18, 100vw);
				@include fluidContent(line-height, 28px, 32, 28, 100vh);

				@media #{$mq-w1080-up} {
					font-size: 20px;
					line-height: 32px;
				}
			}

			@media #{$landscape} {
				@include fluidContent(font-size, 18px, 22, 18, 100vh);
				@include fluidContent(line-height, 28px, 32, 28, 100vh);

				@media #{$mq-h1080-up} {
					font-size: 22px;
					line-height: 32px;
				}
			}
		}
	}
}