// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.homepage { // <main>
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	align-items: center;

	&__introduction { // <div>
		max-width: 700px;
		padding: {
			top: 100px;
			right: 1rem;
			left: 1rem;
		}
		color: $secondary-color;

		.introduction {
			&__paragraph { // <p>
				margin: {
					top: 32px;
					bottom: 32px;
				}
				font-size: 14px;
				line-height: 24px;

				&:first-of-type { // <p>
					margin-top: 0;
					font: {
						size: initial;
						weight: 700;
					}
				}

				&:last-of-type { // <p>
					margin-bottom: 0;
				}
			}
		}
	}

	&__my-photo { // <div>
		width: 50%;
		max-width: calc(700px / 2);
		padding-bottom: 100px;

		.my-photo {
			&__image { // <img>
				width: 100%;
			}
		}
	}
}