.introduction {
    &-container { // <section>
        padding: {
            right: 1.25rem;
            left: 1.25rem;
        }
        @media #{$mq-600-up} {
            padding: unset;
            max-width: 80vw;
            margin: {
                right: auto;
                left: auto;
            }
        }
        @media #{$mq-700-up} {
            max-width: 70vw;
        }
        @media #{$mq-800-up} {
            max-width: 60vw;
        }
        @media #{$mq-900-up} {
            max-width: 50vw;
        }
    }

    &__title { // <h3>
        color: $darkGreen;
    }

    &__title:not(:first-child) { // <h3>
        margin: {
            top: 3rem;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &__title:last-of-type { // <h3>
        text-align: center;
        margin: {
            top: 5rem;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &__paragraph { // <p>
        margin: {
            top: 1rem;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}