.introduction {
    &-container { // <section>
        padding: {
            right: 1.25rem;
            left: 1.25rem;
        }
        @media #{$mq-600-up} {
            padding: unset;
            max-width: 80vw;
            margin: {
                right: auto;
                left: auto;
            }
        }
        @media #{$mq-700-up} {
            max-width: 70vw;
        }
        @media #{$mq-800-up} {
            max-width: 60vw;
        }
        @media #{$mq-900-up} {
            max-width: 50vw;
        }
        @media #{$mq-1500-up} {
            width: 56.25rem;
        }
    }

    &__title { // <h3>
        color: $darkGreen;

        &:not(:first-child) { // <h3>
            margin: {
                top: 3rem;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }

        &--dark-mode {
            &:not(:first-child) { // <h3>
                margin: {
                    top: 3rem;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }
        }

        &:last-of-type { // <h3>
            text-align: center;
            @media #{$mq-1000-up} {
                text-align: unset;
            }
        }

        &--dark-mode {
            &:last-of-type { // <h3>
                text-align: center;
                @media #{$mq-1000-up} {
                    text-align: unset;
                }
            }
        }

        &--dark-mode {
            color: $green2;
        }
    }

    &__paragraph { // <p>
        margin: {
            top: 1rem;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &--dark-mode {
            color: $whiteForDark;
        }
    }
}