.introduction { // <div>
	//margin-top: 32px;
	padding: {
		top: 50px;
		right: 1rem;
		bottom: 50px;
		left: 1rem;
	}
	color: $secondary-color;

	//&-container { // <section>
		//width: 300px;
		// padding: {
		//     right: 1.25rem;
		//     left: 1.25rem;
		// }
		// @media #{$mq-w600-up} {
		//     padding: unset;
		//     max-width: 80vw;
		//     margin: {
		//         right: auto;
		//         left: auto;
		//     }
		// }
		// @media #{$mq-w700-up} {
		//     max-width: 70vw;
		// }
		// @media #{$mq-w800-up} {
		//     max-width: 60vw;
		// }
		// @media #{$mq-w900-up} {
		//     max-width: 50vw;
		// }
		// @media #{$mq-w1500-up} {
		//     width: 56.25rem;
		// }
	//}

	// &__title { // <h3>
	//     color: $primary-color;

	//     &:not(:first-child) { // <h3>
	//         margin: {
	//             top: 3rem;
	//             right: 0;
	//             bottom: 0;
	//             left: 0;
	//         }
	//     }

	//     &:last-of-type { // <h3>
	//         text-align: center;
	//         @media #{$mq-w1000-up} {
	//             text-align: unset;
	//         }
	//     }
	// }

	&__paragraph { // <p>
		margin: {
			top: 32px;
			bottom: 32px;
		}
		font-size: 14px;
		line-height: 24px;

		&:first-of-type { // <p>
			margin-top: 0;
			font: {
				size: initial;
				weight: 700;
			}
		}

		&:last-of-type { // <p>
			margin-bottom: 0;
		}
	}
}