// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.name {
	&--header {  // <h1>
		display: inherit;
		align-items: center;
		height: 100%;
		font-family: $bebas-neue;
		color: white;
		letter-spacing: 0.125rem;
		word-spacing: 0.3125rem;
		margin: {
			top: 10px;
			right: 0;
			bottom: 10px;
			left: 20px;
		}

		@media screen and #{$portrait} {
			@include fluidContent(font-size, 24px, 40, 24);
		}
	}

	&--footer { // <h1>
		@include fluidContent(font-size, 22px, 32, 22);
		font-family: $bebas-neue;
		color: white;
		letter-spacing: 0.125rem;
		word-spacing: 0.3125rem;
		margin: 0;
		text-align: center;
	}

	&__link { // <a>
		color: inherit;
		text-decoration: none;
		-webkit-tap-highlight-color: transparent;
	}
}