.button { // <button>
	position: relative;
	margin: {
		top: 0;
		bottom: 0;
		left: 0;
	}
	padding: 0;
	background-color: unset;
	border: unset;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	outline: none;

	@media screen {
		@media #{$portrait} {
			@include fluidContent(width, 36px, 48, 36, 100vw);
			@include fluidContent(height, 36px, 48, 36, 100vw);

			@media #{$mq-w1080-up} {
				width: 48px;
				height: 48px;
			}
		}

		@media #{$landscape} {
			@include fluidContent(width, 36px, 48, 36, 100vh);
			@include fluidContent(height, 36px, 48, 36, 100vh);

			@media #{$mq-h1080-up} {
				width: 48px;
				height: 48px;
			}
		}
	}

	&__menu { // <button>
		@extend .button;

		@media screen {
			@media #{$portrait} {
				@include fluidContent(margin-right, 20px, 40, 20, 100vw);

				@media #{$mq-w1080-up} {
					margin-right: 40px;
				}
			}

			@media #{$landscape} {
				@include fluidContent(margin-right, 20px, 40, 20, 100vh);

				@media #{$mq-h1080-up} {
					margin-right: 40px;
				}
			}
		}
	}

	&__modal { // <button>
		@extend .button;
		position: absolute;
		bottom: 40px;
		background-color: $color-2;
		border-radius: 50%;
	}
}