.button { // <button>
	position: relative;
	margin: {
		top: 0;
		bottom: 0;
		left: 0;
	}
	width: 35px;
	height: 20px;
	padding: 0;
	background-color: unset;
	border: unset;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__menu { // <button>
		@extend .button;
		margin-right: 1.25rem;

		@media #{$portrait} {
			@media #{$mq-w700-up} {
				margin-right: 2.5rem;
			}
		}

		@media #{$landscape} {
			@media #{$mq-h600-up} {
				margin-right: 2.5rem;
			}
		}
	}

	&__modal {
		@extend .button;
		position: absolute;
		bottom: 2.5rem;
	}

	&__backToTop {
		position: fixed;
		right: 0;
		bottom: 2.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1.5625rem;
		height: 1.875rem;
		background-color: $color-2;
		margin: 0;
		padding: 0;
		border: {
			style: none;
			bottom-left-radius: 0.4688rem;
			top-left-radius: 0.4688rem;
		}
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
	}

	&__bar { // <span>
		width: inherit;
		height: 0.125rem;
		background-color: $color-5;
		animation: {
			name: middleBarToOpaque;
			duration: 0.5s;
			fill-mode: forwards;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: inherit;
			height: inherit;
			background-color: $color-5;
			animation: {
				name: topBarToHamburger;
				duration: 0.5s;
				fill-mode: forwards;
			}
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: inherit;
			height: inherit;
			background-color: $color-5;
			animation: {
				name: bottomBarToHamburger;
				duration: 0.5s;
				fill-mode: forwards;
			}
		}

		&--close { // <div>
			@extend .button__bar;
			background-color: transparent;
			animation: {
				name: middleBarToTransparent;
				duration: 0.5s;
				fill-mode: forwards;
			}

			&::before {
				background-color: $color-5;
				animation: {
					name: topBarToCross;
					duration: 0.5s;
					fill-mode: forwards;
				}
			}

			&::after {
				background-color: $color-5;
				animation: {
					name: bottomBarToCross;
					duration: 0.5s;
					fill-mode: forwards;
				}
			}
		}

		&--arrow-up { // <span>
			display: block;
			width: 1.0625rem;
			height: 1.0625rem;
			clip-path: polygon(50% 25%, 95% 70%, 90% 75%, 50% 35%, 10% 75%, 5% 70%);
			background-color: $color-5;
		}
	}
}