// Fonts
@font-face {
    font-family: "Quicksand--Regular";
    src: url("fonts/Quicksand/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Comfortaa--Bold";
    src: url("fonts/Comfortaa/Comfortaa-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "ZCOOLXiaoWei--Regular";
    src: url("fonts/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Architects_Daughter--Regular";
    src: url("fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf") format("truetype");
}