@font-face {
  font-family: "Quicksand-Regular";
  src: url("./../fonts/Quicksand/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Comfortaa-Bold";
  src: url("./../fonts/Comfortaa/Comfortaa-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ZCOOLXiaoWei-Regular";
  src: url("./../fonts/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Architects_Daughter";
  src: url("./../fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf") format("truetype");
}

@media screen {
  body {
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Quicksand-Regular", Arial, Helvetica, sans-serif;
  }
}

/*
	Photography website	|
	./assets/scss/_header_mobile_portrait.scss - CSS for header part => index page for mobile in portrait |
	Started on July 2020 |
	By Arnaud De Baerdemaeker
*/
@media screen and (orientation: portrait) {
  .menu--home-page, .menu--other-pages {
    position: fixed;
    z-index: 1;
    bottom: 0;
    height: 50px;
  }
}

@media screen {
  .menu--home-page .menu__navigation--home-page, .menu--home-page .menu__navigation--other-pages, .menu--other-pages .menu__navigation--home-page, .menu--other-pages .menu__navigation--other-pages {
    height: inherit;
  }
  .menu--home-page .menu__navigation--home-page .menu__list--home-page, .menu--home-page .menu__navigation--home-page .menu__list--other-pages, .menu--home-page .menu__navigation--other-pages .menu__list--home-page, .menu--home-page .menu__navigation--other-pages .menu__list--other-pages, .menu--other-pages .menu__navigation--home-page .menu__list--home-page, .menu--other-pages .menu__navigation--home-page .menu__list--other-pages, .menu--other-pages .menu__navigation--other-pages .menu__list--home-page, .menu--other-pages .menu__navigation--other-pages .menu__list--other-pages {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    height: inherit;
    list-style: none;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .menu--home-page .menu__navigation--home-page .menu__list--home-page .menu__list-item--home-page, .menu--home-page .menu__navigation--home-page .menu__list--home-page .menu__list-item--other-pages, .menu--home-page .menu__navigation--home-page .menu__list--other-pages .menu__list-item--home-page, .menu--home-page .menu__navigation--home-page .menu__list--other-pages .menu__list-item--other-pages, .menu--home-page .menu__navigation--other-pages .menu__list--home-page .menu__list-item--home-page, .menu--home-page .menu__navigation--other-pages .menu__list--home-page .menu__list-item--other-pages, .menu--home-page .menu__navigation--other-pages .menu__list--other-pages .menu__list-item--home-page, .menu--home-page .menu__navigation--other-pages .menu__list--other-pages .menu__list-item--other-pages, .menu--other-pages .menu__navigation--home-page .menu__list--home-page .menu__list-item--home-page, .menu--other-pages .menu__navigation--home-page .menu__list--home-page .menu__list-item--other-pages, .menu--other-pages .menu__navigation--home-page .menu__list--other-pages .menu__list-item--home-page, .menu--other-pages .menu__navigation--home-page .menu__list--other-pages .menu__list-item--other-pages, .menu--other-pages .menu__navigation--other-pages .menu__list--home-page .menu__list-item--home-page, .menu--other-pages .menu__navigation--other-pages .menu__list--home-page .menu__list-item--other-pages, .menu--other-pages .menu__navigation--other-pages .menu__list--other-pages .menu__list-item--home-page, .menu--other-pages .menu__navigation--other-pages .menu__list--other-pages .menu__list-item--other-pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    height: 25px;
  }
}

@media screen and (orientation: portrait) {
  .menu--home-page .menu__navigation--home-page .menu__list--home-page .menu__list-item--home-page .menu__link--home-page, .menu--home-page .menu__navigation--home-page .menu__list--home-page .menu__list-item--home-page .menu__link--other-pages, .menu--home-page .menu__navigation--home-page .menu__list--home-page .menu__list-item--other-pages .menu__link--home-page, .menu--home-page .menu__navigation--home-page .menu__list--home-page .menu__list-item--other-pages .menu__link--other-pages, .menu--home-page .menu__navigation--home-page .menu__list--other-pages .menu__list-item--home-page .menu__link--home-page, .menu--home-page .menu__navigation--home-page .menu__list--other-pages .menu__list-item--home-page .menu__link--other-pages, .menu--home-page .menu__navigation--home-page .menu__list--other-pages .menu__list-item--other-pages .menu__link--home-page, .menu--home-page .menu__navigation--home-page .menu__list--other-pages .menu__list-item--other-pages .menu__link--other-pages, .menu--home-page .menu__navigation--other-pages .menu__list--home-page .menu__list-item--home-page .menu__link--home-page, .menu--home-page .menu__navigation--other-pages .menu__list--home-page .menu__list-item--home-page .menu__link--other-pages, .menu--home-page .menu__navigation--other-pages .menu__list--home-page .menu__list-item--other-pages .menu__link--home-page, .menu--home-page .menu__navigation--other-pages .menu__list--home-page .menu__list-item--other-pages .menu__link--other-pages, .menu--home-page .menu__navigation--other-pages .menu__list--other-pages .menu__list-item--home-page .menu__link--home-page, .menu--home-page .menu__navigation--other-pages .menu__list--other-pages .menu__list-item--home-page .menu__link--other-pages, .menu--home-page .menu__navigation--other-pages .menu__list--other-pages .menu__list-item--other-pages .menu__link--home-page, .menu--home-page .menu__navigation--other-pages .menu__list--other-pages .menu__list-item--other-pages .menu__link--other-pages, .menu--other-pages .menu__navigation--home-page .menu__list--home-page .menu__list-item--home-page .menu__link--home-page, .menu--other-pages .menu__navigation--home-page .menu__list--home-page .menu__list-item--home-page .menu__link--other-pages, .menu--other-pages .menu__navigation--home-page .menu__list--home-page .menu__list-item--other-pages .menu__link--home-page, .menu--other-pages .menu__navigation--home-page .menu__list--home-page .menu__list-item--other-pages .menu__link--other-pages, .menu--other-pages .menu__navigation--home-page .menu__list--other-pages .menu__list-item--home-page .menu__link--home-page, .menu--other-pages .menu__navigation--home-page .menu__list--other-pages .menu__list-item--home-page .menu__link--other-pages, .menu--other-pages .menu__navigation--home-page .menu__list--other-pages .menu__list-item--other-pages .menu__link--home-page, .menu--other-pages .menu__navigation--home-page .menu__list--other-pages .menu__list-item--other-pages .menu__link--other-pages, .menu--other-pages .menu__navigation--other-pages .menu__list--home-page .menu__list-item--home-page .menu__link--home-page, .menu--other-pages .menu__navigation--other-pages .menu__list--home-page .menu__list-item--home-page .menu__link--other-pages, .menu--other-pages .menu__navigation--other-pages .menu__list--home-page .menu__list-item--other-pages .menu__link--home-page, .menu--other-pages .menu__navigation--other-pages .menu__list--home-page .menu__list-item--other-pages .menu__link--other-pages, .menu--other-pages .menu__navigation--other-pages .menu__list--other-pages .menu__list-item--home-page .menu__link--home-page, .menu--other-pages .menu__navigation--other-pages .menu__list--other-pages .menu__list-item--home-page .menu__link--other-pages, .menu--other-pages .menu__navigation--other-pages .menu__list--other-pages .menu__list-item--other-pages .menu__link--home-page, .menu--other-pages .menu__navigation--other-pages .menu__list--other-pages .menu__list-item--other-pages .menu__link--other-pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: inherit;
    font-family: "Comfortaa-Bold";
    text-decoration: none;
    color: white;
    font-size: 0.825rem;
    letter-spacing: 1px;
  }
}

@media screen {
  .menu--home-page .menu__navigation--home-page .menu__list--home-page .menu__list-item--home-page .menu__link--active, .menu--home-page .menu__navigation--home-page .menu__list--home-page .menu__list-item--other-pages .menu__link--active, .menu--home-page .menu__navigation--home-page .menu__list--other-pages .menu__list-item--home-page .menu__link--active, .menu--home-page .menu__navigation--home-page .menu__list--other-pages .menu__list-item--other-pages .menu__link--active, .menu--home-page .menu__navigation--other-pages .menu__list--home-page .menu__list-item--home-page .menu__link--active, .menu--home-page .menu__navigation--other-pages .menu__list--home-page .menu__list-item--other-pages .menu__link--active, .menu--home-page .menu__navigation--other-pages .menu__list--other-pages .menu__list-item--home-page .menu__link--active, .menu--home-page .menu__navigation--other-pages .menu__list--other-pages .menu__list-item--other-pages .menu__link--active, .menu--other-pages .menu__navigation--home-page .menu__list--home-page .menu__list-item--home-page .menu__link--active, .menu--other-pages .menu__navigation--home-page .menu__list--home-page .menu__list-item--other-pages .menu__link--active, .menu--other-pages .menu__navigation--home-page .menu__list--other-pages .menu__list-item--home-page .menu__link--active, .menu--other-pages .menu__navigation--home-page .menu__list--other-pages .menu__list-item--other-pages .menu__link--active, .menu--other-pages .menu__navigation--other-pages .menu__list--home-page .menu__list-item--home-page .menu__link--active, .menu--other-pages .menu__navigation--other-pages .menu__list--home-page .menu__list-item--other-pages .menu__link--active, .menu--other-pages .menu__navigation--other-pages .menu__list--other-pages .menu__list-item--home-page .menu__link--active, .menu--other-pages .menu__navigation--other-pages .menu__list--other-pages .menu__list-item--other-pages .menu__link--active {
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  .menu--other-pages {
    background-color: white;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .menu--other-pages .menu__navigation--other-pages .menu__list--other-pages .menu__list-item--other-pages .menu__link--other-pages {
    color: black;
  }
}

.divider--top {
  height: 30px;
  width: 100%;
}

.divider--top .divider__image--top {
  color: #f0f0f0;
  width: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.divider--bottom {
  height: 30px;
  width: 100%;
  margin-bottom: 40px;
}

.divider--bottom .divider__image--bottom {
  color: #f0f0f0;
  width: 100%;
}

.my-name {
  font-family: "ZCOOLXiaoWei-Regular";
  color: #646464;
  letter-spacing: 0.5px;
  background-color: #f0f0f0;
  margin: 0;
  font-size: 1rem;
  padding: 15px;
}

/*
	Photography website |
	./assets/scss/_index_mobile_portrait.scss - CSS for core of index page for mobile in portrait |
	Started on July 2020 |
	By Arnaud De Baerdemaeker
*/
@media screen {
  .home-page__container {
    background-image: url("https://drive.google.com/uc?id=1NJbkAWFK2-2o_Dd-LB06-cu3E45J4LSK");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 70%;
  }
  .home-page__container .title {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100vw;
    height: 100vh;
    -webkit-backdrop-filter: brightness(60%);
            backdrop-filter: brightness(60%);
  }
}

@media screen and (orientation: portrait) {
  .home-page__container .title .title__main-title {
    font-family: "ZCOOLXiaoWei-Regular", Arial, Helvetica, sans-serif;
    font-size: 10vw;
    font-weight: 100;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0 0 7px white;
    margin: 0;
  }
}

@media screen and (orientation: landscape) {
  .home-page__container .title .title__main-title {
    font-family: "ZCOOLXiaoWei-Regular", Arial, Helvetica, sans-serif;
    font-size: 9vw;
    font-weight: 100;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 7.5px;
    text-shadow: 0 0 7px white;
    margin: 0;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .home-page__container .title .title__main-title {
    font-family: "ZCOOLXiaoWei-Regular", Arial, Helvetica, sans-serif;
    font-size: 7vw;
    font-weight: 100;
    color: white;
    text-align: center;
    letter-spacing: 10px;
    word-spacing: 7.5px;
    text-shadow: 0 0 7px white;
    margin: 0;
  }
}

.gallery .gallery__intro-container {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  padding-top: 0;
  padding-right: 15px;
  padding-bottom: 0;
  padding-left: 15px;
}

.gallery .gallery__intro-container .gallery__title-1 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  font-family: "Architects_Daughter";
  font-size: 2rem;
}

.gallery .gallery__intro-container .gallery__intro:first-of-type {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.gallery .gallery__intro-container .gallery__intro:last-of-type {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.gallery .gallery__years-container {
  background-color: #f0f0f0;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
}

.gallery .gallery__years-container .gallery__list {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.gallery .gallery__years-container .gallery__list .gallery__list-item {
  position: relative;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  width: 100%;
}

.gallery .gallery__years-container .gallery__list .gallery__list-item .gallery__link {
  display: block;
  text-decoration: none;
  color: white;
}

.gallery .gallery__years-container .gallery__list .gallery__list-item .gallery__thumbnail {
  width: 100%;
  height: inherit;
  -webkit-filter: brightness(50%) blur(2px);
          filter: brightness(50%) blur(2px);
  vertical-align: middle;
}

.gallery .gallery__years-container .gallery__list .gallery__list-item .gallery__year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  font-size: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .gallery__years-container .gallery__list .gallery__list-item:last-of-type {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.photos-list .photos-list__title-container {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
}

.photos-list .photos-list__title-container .photos-list__title-1 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-family: "Architects_Daughter";
  font-size: 3rem;
  text-align: center;
}

.photos-list .photos-list__cards {
  background-color: #f0f0f0;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
}

.photos-cards__card {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  border-radius: 3px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.photos-cards__card .photos-cards__image-container {
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  padding-top: 0;
  padding-right: -15px;
  padding-bottom: 0;
  padding-left: -15px;
}

.photos-cards__card .photos-cards__image-container .photos-cards__image {
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.photos-cards__card .photos-cards__image-container .photos-card__caption {
  font-size: 0.75rem;
  text-align: right;
  font-style: italic;
  padding-top: 0;
  padding-right: 15px;
  padding-bottom: 0;
  padding-left: 0;
}

.photos-cards__card .photos-cards__metadata {
  padding-top: 0;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.photos-cards__card .photos-cards__metadata .photos-cards__title-2 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-size: 1.25rem;
}

.photos-cards__card .photos-cards__metadata .photos-cards__list {
  list-style: none;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  font-size: 0.90rem;
}

.photos-cards__card .photos-cards__metadata .photos-cards__list .photos-cards__list-item:nth-of-type(2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.photos-cards__card .photos-cards__metadata .photos-cards__list .photos-cards__list-item:nth-of-type(6) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.photos-cards__card:last-child {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.about .about-me .about-me__who-i-am {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  padding-top: 0;
  padding-right: 15px;
  padding-bottom: 0;
  padding-left: 15px;
}

.about .about-me .about-me__why-webdesign {
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
  background-color: #f0f0f0;
}

.about .about-me .about-me__why-photography {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  padding-top: 0;
  padding-right: 5vw;
  padding-bottom: 0;
  padding-left: 5vw;
}

.about .about-me .about-me__level-2-title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 7vh;
  margin-left: 0;
  font-family: "UbuntuMono-Regular";
  font-size: 7.5vw;
  letter-spacing: -1px;
  word-spacing: -3px;
}

.about .about-me .about-me__paragraph {
  margin: 0 0 4vh 0;
}

.about .about-me .about-me__last-paragraph {
  margin: 0;
}

.about .about-me .about-me__what-else {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
  background-color: #f0f0f0;
}

.about .about-me .about-me__discover {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  padding-top: 0;
  padding-right: 15px;
  padding-bottom: 0;
  padding-left: 15px;
  font-family: "UbuntuMono-Regular";
  font-size: 1.5rem;
  letter-spacing: -1px;
  word-spacing: -3px;
}

.about .about-me .about-me__my-photo {
  background-color: #f0f0f0;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
}

.about .about-me .about-me__my-photo .about-me__image-container {
  width: 50vw;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.about .about-me .about-me__my-photo .about-me__image-container .about-me__image {
  width: 100%;
}

.about .about-me .about-me__my-photo .about-me__image-container .about-me__image-caption {
  font-family: "Quicksand-Regular", sans-serif;
  font-size: 0.75rem;
  font-style: italic;
  text-align: right;
}

@media (orientation: portrait) {
  .footer {
    height: 175px;
    background-color: #323232;
    padding-top: 40px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
}

@media (orientation: portrait) {
  .footer .footer__left-box {
    margin-bottom: 30px;
  }
}

@media (orientation: portrait) {
  .footer .footer__left-box .footer__links {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 0;
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
  }
}

@media (orientation: portrait) {
  .footer .footer__left-box .footer__links .footer__email {
    width: 25px;
  }
}

@media (orientation: portrait) {
  .footer .footer__left-box .footer__links .footer__email .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (orientation: portrait) {
  .footer .footer__left-box .footer__links .footer__email .footer__link .footer__email-icon {
    width: 100%;
  }
}

@media (orientation: portrait) {
  .footer .footer__left-box .footer__links .footer__linkedin {
    width: 25px;
  }
}

@media (orientation: portrait) {
  .footer .footer__left-box .footer__links .footer__linkedin .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (orientation: portrait) {
  .footer .footer__left-box .footer__links .footer__linkedin .footer__link .footer__linkedin-icon {
    width: 100%;
  }
}

@media (orientation: portrait) {
  .footer .footer__left-box .footer__links .footer__github {
    width: 25px;
  }
}

@media (orientation: portrait) {
  .footer .footer__left-box .footer__links .footer__github .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media (orientation: portrait) {
  .footer .footer__left-box .footer__links .footer__github .footer__link .footer__github-icon {
    width: 100%;
  }
}

@media (orientation: portrait) {
  .footer .footer__right-box .footer__credits {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-family: "Quicksand-Regular";
    font-size: 0.8rem;
    color: white;
    text-align: center;
  }
}
