@font-face {
  font-family: "Quicksand-Regular";
  src: url("./../fonts/Quicksand/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "ZCOOLXiaoWei-Regular";
  src: url("./../fonts/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.ttf");
}

@font-face {
  font-family: "Cormorant_Upright-Medium";
  src: url("./../fonts/Cormorant_Upright/CormorantUpright-Medium.ttf");
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  height: 100vh;
}

/*
	Photography website	|
	./assets/scss/_header_mobile_portrait.scss - CSS for header part => index page for mobile in portrait |
	Started on July 2020 |
	By Arnaud De Baerdemaeker
*/
@media screen and (orientation: portrait) {
  .menu {
    position: fixed;
    bottom: 0;
    height: 12vh;
  }
}

@media screen and (orientation: landscape) {
  .menu {
    position: fixed;
    bottom: 0;
    height: 17vh;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .menu {
    position: fixed;
    top: 0;
    height: 14vh;
  }
}

@media screen {
  .menu .menu__navigation {
    height: inherit;
  }
  .menu .menu__navigation .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100vw;
    height: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu .menu__navigation .menu__list .menu__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: inherit;
  }
}

@media screen and (orientation: portrait) {
  .menu .menu__navigation .menu__list .menu__list-item .menu__link {
    display: block;
    font-family: "JosefinSans-Light", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 4vw;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 2px;
  }
}

@media screen and (orientation: landscape) {
  .menu .menu__navigation .menu__list .menu__list-item .menu__link {
    display: block;
    font-family: "JosefinSans-Light", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 2px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .menu .menu__navigation .menu__list .menu__list-item .menu__link {
    display: block;
    font-family: "JosefinSans-Light", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 2px;
  }
}

/*
	Photography website |
	./assets/scss/_index_mobile_portrait.scss - CSS for core of index page for mobile in portrait |
	Started on July 2020 |
	By Arnaud De Baerdemaeker
*/
@media screen {
  .homepage__container {
    background-image: url("./../images/index-background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }
  .homepage__container .title {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (orientation: portrait) {
  .homepage__container .title .title__main-title {
    font-family: "ZCOOLXiaoWei-Regular", Arial, Helvetica, sans-serif;
    font-size: 10vw;
    font-weight: 100;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0 0 7px white;
    margin: 0;
  }
}

@media screen and (orientation: landscape) {
  .homepage__container .title .title__main-title {
    font-family: "ZCOOLXiaoWei-Regular", Arial, Helvetica, sans-serif;
    font-size: 9vw;
    font-weight: 100;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 7.5px;
    text-shadow: 0 0 7px white;
    margin: 0;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .homepage__container .title .title__main-title {
    font-family: "ZCOOLXiaoWei-Regular", Arial, Helvetica, sans-serif;
    font-size: 7vw;
    font-weight: 100;
    color: white;
    text-align: center;
    letter-spacing: 10px;
    word-spacing: 7.5px;
    text-shadow: 0 0 7px white;
    margin: 0;
  }
}

.background {
  background-color: #f0f0f0;
  padding: 5vw;
}

.background .about-me {
  background-color: white;
  padding: 10vh 5vw 5vw 5vw;
  border-radius: 5vw;
  -webkit-box-shadow: 0 0 5vw rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5vw rgba(0, 0, 0, 0.1);
}

.background .about-me .about-me__image-container {
  width: 50vw;
  margin: 0 auto 10vh auto;
}

.background .about-me .about-me__image-container .about-me__image {
  width: 100%;
}

.background .about-me .about-me__image-container .about-me__image-caption {
  font-family: "Quicksand-Regular", sans-serif;
  font-size: 4vw;
  font-style: italic;
  text-align: right;
}

.background .about-me .about-me__who-i-am, .background .about-me .about-me__why-webdesign, .background .about-me .about-me__why-photography {
  margin: 0 0 7vh 0;
}

.background .about-me .about-me__level-1-title, .background .about-me .about-me__level-2-title {
  margin: 0 0 7vh 0;
  font-family: "Cormorant_Upright-Medium", sans-serif;
  font-size: 9vw;
}

.background .about-me .about-me__paragraph {
  margin: 0 0 4vh 0;
  font-family: "Quicksand-Regular", sans-serif;
}

.background .about-me .about-me__last-paragraph {
  margin: 0;
  font-family: "Quicksand-Regular", sans-serif;
}

.background .about-me .about-me__what-else {
  margin: 0 0 12vh 0;
}

.background .about-me .about-me__discover {
  margin: 0;
  font-family: "Cormorant_Upright-Medium", sans-serif;
  font-size: 9vw;
}
