// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.gallery {
	&__list-item { // <li>
		position: relative;
	}

	&__list-item:not(:first-child) {
		margin: {
			top: 2.5rem;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	&__link { // <a>
		display: block;
		text-decoration: none;
		color: $white;
	}

	&__thumbnail { // <img>
		width: 100%;
		height: inherit;
		filter: brightness(50%) blur(0.25rem);
		vertical-align: middle;
	}

	&__year { // <span>
		display: flex;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		font-size: 4rem;
		justify-content: center;
		align-items: center;
	}
}