// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.iconBox { // <svg>
	transform-box: fill-box;
}

.topFigure {
	@extend .iconBox;
	transform-origin: center center;
	fill: white;

	&__hamburger { // <path>
		@extend .topFigure;
		animation: {
			name: topFigureToHamburger;
			duration: 0.5s;
			fill-mode: forwards;
		}

		&--close { // <rect>
			@extend .topFigure;
			animation: {
				name: topFigureToCross;
				duration: 0.5s;
				fill-mode: forwards;
			}
		}
	}

	&__chevron { // <path>
		@extend .topFigure;
		opacity: 0;
		animation: {
			name: blinking;
			duration: 2s;
			iteration-count: infinite;
			direction: alternate;
		}
	}
}

.middleFigure {
	@extend .iconBox;

	&__hamburger { // <rect>
		@extend .topFigure;
		animation: {
			name: middleFigureToOpaque;
			duration: 0.5s;
			fill-mode: forwards;
		}

		&--close { // <rect>
			@extend .topFigure;
			animation: {
				name: middleFigureToTransparent;
				duration: 0.5s;
				fill-mode: forwards;
			}
		}
	}

	&__chevron { // <path>
		@extend .topFigure;
		opacity: 0;
		animation: {
			name: blinking;
			duration: 2s;
			iteration-count: infinite;
			direction: alternate;
			delay: 0.375s;
		}
	}
}

.bottomFigure {
	@extend .iconBox;

	&__hamburger { // <rect>
		@extend .topFigure;
		animation: {
			name: bottomFigureToHamburger;
			duration: 0.5s;
			fill-mode: forwards;
		}

		&--close { // <rect>
			@extend .topFigure;
			animation: {
				name: bottomFigureToCross;
				duration: 0.5s;
				fill-mode: forwards;
			}
		}
	}

	&__chevron { // <path>
		@extend .topFigure;
		opacity: 0;
		animation: {
			name: blinking;
			duration: 2s;
			iteration-count: infinite;
			direction: alternate;
			delay: 0.625s;
		}
	}
}