.header__container { // <header>
    background-color: $darkGreen;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title { // <h2>
        font-size: 5.5rem;
        letter-spacing: 1rem;
        color: $white;
        margin: {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}