.header { // <header>
	position: fixed;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 60px;

	&.gradient {
		background: linear-gradient(to bottom, $secondary-color 0px, $transparent 60px);
	}

	&__title { // <h1>
		position: absolute;
		top: calc(60px / 2 - 46px / 2);
		font: {
			family: "Bebas Neue";
			size: 18px;
		}
		color: $white;
		letter-spacing: 1px;
		margin: 0;
		padding-left: 16px;
	}

	&__link { // <a>
		color: inherit;
		text-decoration: none;
	}
}