.header {
    &__container { // <header>
        background-color: $darkGreen;
        box-shadow: 0 0 0.625rem $blackHalfTransparent;
    }

    &__main-title--other-pages {
        font: {
            family: $zcoolXiaoWeiRegular;
            size: 0.8rem;
        }
        color: $white;
        background-color: $darkGreen2;
        letter-spacing: 0.188rem;
        margin: {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        padding: {
            top: 0;
            right: 1.25rem;
            bottom: 0;
            left: 1.25rem;
        }
        height: 3rem;
        line-height: 3rem;
    }
}