.header { // <header>
	@include revealOnLoad;
	position: fixed;
	top: 0;
	z-index: 4;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.4) 25%,
		rgba(0, 0, 0, 0.6) 50%,
		rgba(0, 0, 0, 1) 100%
	);
}