.header { // <header>
	position: fixed;
	top: 0;
	z-index: 4;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(16, 26, 18, 0);
	clip-path: none;
	filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.5));

	&__innerContainer { // <div>
		@extend .header;
		@include revealOnLoad;
		clip-path: ellipse(100% 100% at 50% 0%);
		transition: {
			property: background-color;
			duration: 1s;
		}

		&--scroll { // <header>
			@extend .header__innerContainer;
			background-color: rgba(16, 26, 18, 1);
		}
	}
}