.about //<div>
{
    .about-me //div>
    {
        .about-me__who-i-am // <section>
        {
            margin: {
                top: 0;
                right: 0;
                bottom: 40px;
                left: 0;
            }
            padding: {
                top: 0;
                right: 15px;
                bottom: 0;
                left: 15px;
            }
        }

        .about-me__why-webdesign // <section>
        {
            // margin: {
            //     top: 0;
            //     right: 0;
            //     bottom: 7vh;
            //     left: 0;
            // }
            padding: {
                top: 30px;
                right: 15px;
                bottom: 30px;
                left: 15px;
            }
            background-color: rgb(240, 240, 240);
        }

        .about-me__why-photography // <section
        {
            margin: {
                top: 0;
                right: 0;
                bottom: 40px;
                left: 0;
            }
            padding: {
                top: 0;
                right: 5vw;
                bottom: 0;
                left: 5vw;
            }
        }

        .about-me__level-2-title // <h2>
        {
            margin: {
                top: 0;
                right: 0;
                bottom: 7vh;
                left: 0;
            }
            font: {
                family: "UbuntuMono-Regular";
                size: 7.5vw;
            }
            letter-spacing: -1px;
            word-spacing: -3px;

        }

        .about-me__paragraph // <p>
        {
            margin: 0 0 4vh 0;
        }

        .about-me__last-paragraph // <p>
        {
            margin: 0;
        }
        
        .about-me__what-else // <section>
        {
            margin: {
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            padding: {
                top: 30px;
                right: 15px;
                bottom: 30px;
                left: 15px;
            }
            background-color: rgb(240, 240, 240);
        }

        .about-me__discover // <h2>
        {
            margin: {
                top: 0;
                right: 0;
                bottom: 40px;
                left: 0;
            }
            padding: {
                top: 0;
                right: 15px;
                bottom: 0;
                left: 15px;
            }
            font: {
                family: "UbuntuMono-Regular";
                size: 1.5rem;
            }
            letter-spacing: -1px;
            word-spacing: -3px;
        }

        .about-me__my-photo // <div>
        {
            background-color: rgb(240, 240, 240);
            padding: {
                top: 30px;
                right: 15px;
                bottom: 30px;
                left: 15px;
            }

            .about-me__image-container // <figure>
            {
                width: 50vw;
                margin: {
                    top: 0;
                    right: auto;
                    bottom: 0;
                    left: auto;
                }
                
                .about-me__image // <img>
                {
                    width: 100%;
                }

                .about-me__image-caption // <figcaption>
                {
                    font: {
                        family: "Quicksand-Regular", sans-serif;
                        size: 0.75rem;
                        style: italic;
                    }
                    text-align: right;
                }
            }
        }
    }
}