.background //<div>
{
    background-color: rgb(240, 240, 240);
    padding: 5vw;

    .about-me //div>
    {
        background-color: rgb(255, 255, 255);
        padding: 10vh 5vw 5vw 5vw;
        border-radius: 5vw;
        box-shadow: 0 0 5vw rgba(0, 0, 0, 0.1);

        .about-me__image-container // <figure>
        {
            width: 50vw;
            margin: 0 auto 10vh auto;

            .about-me__image // <img>
            {
                width: 100%;
            }

            .about-me__image-caption // <figcaption>
            {
                font-family: "Quicksand-Regular", sans-serif;
                font-size: 4vw;
                font-style: italic;
                text-align: right;
            }
        }

        .about-me__who-i-am, .about-me__why-webdesign, .about-me__why-photography // <div>
        {
            margin: 0 0 7vh 0;
        }

        .about-me__level-1-title, .about-me__level-2-title // <h1>
        {
            margin: 0 0 7vh 0;
            font-family: "Cormorant_Upright-Medium", sans-serif;
            font-size: 9vw;
        }

        .about-me__paragraph // <p>
        {
            margin: 0 0 4vh 0;
            font-family: "Quicksand-Regular", sans-serif;
        }

        .about-me__last-paragraph // <p>
        {
            margin: 0;
            font-family: "Quicksand-Regular", sans-serif;
        }
        
        .about-me__what-else // <div>
        {
            margin: 0 0 12vh 0;
        }

        .about-me__discover // <h2>
        {
            margin: 0;
            font-family: "Cormorant_Upright-Medium", sans-serif;
            font-size: 9vw;
        }
    }
}