@-webkit-keyframes pulse {
  0% {
    -webkit-transform: initial;
            transform: initial;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: initial;
            transform: initial;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: initial;
            transform: initial;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: initial;
            transform: initial;
  }
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #19271b;
}

.hidden {
  display: none !important;
}

/*
.divider { // <div>
	margin: {
		top: 0.75rem;
		right: 0;
		bottom: 0;
		left: 0;
	}
	width: 27.5%;
	border: {
		top: {
			style: solid;
			color: $darkGreen;
			width: 0.15rem;
		}
		bottom: {
			style: solid;
			color: $darkGreen;
			width: 0.15rem;
		}
	};

	&:last-of-type { // <div>
		border: none;
	}
}*/
.homepage {
  background: -webkit-gradient(linear, left bottom, left top, from(#101a12), color-stop(10%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, #101a12 0%, rgba(0, 0, 0, 0) 10%);
}

.hero {
  background-image: url("https://lh3.googleusercontent.com/M-Cy0zTisnpjaCobpnmSGw_csGA2HHgEu4wqXJPvjTl9GWDN2KLQPJ_AorRD3soNtjQIs6XIESn2F1UjePrTmZ8yw_gMpVNPFQJrYnDf131Lrog2HuzYKk5SJGLOTy_ojY6-KfIh6g=w1920-h1080");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 70%;
  width: 100%;
  height: 100vh;
}

.hero__back-filter {
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
}

.hero__gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #19271b 5px, rgba(0, 0, 0, 0) 90px);
}

.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.7813rem;
  text-align: center;
  text-shadow: 0 0 0.4688rem white;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 2.1875rem;
  font-weight: 100;
  letter-spacing: 0.0625rem;
  line-height: 2.1875rem;
}

@media (orientation: portrait) and (min-width: 25rem) {
  .hero__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

@media (orientation: portrait) and (min-width: 31.25rem) {
  .hero__title {
    font-size: 2.8125rem;
    line-height: 2.8125rem;
  }
}

@media (orientation: portrait) and (min-width: 37.5rem) {
  .hero__title {
    font-size: 3.125rem;
    line-height: 3.125rem;
  }
}

@media (orientation: portrait) and (min-width: 43.75rem) {
  .hero__title {
    font-size: 3.4375rem;
    line-height: 3.4375rem;
  }
}

@media (orientation: portrait) and (min-width: 50rem) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }
}

@media (orientation: portrait) and (min-width: 56.25rem) {
  .hero__title {
    font-size: 4.0625rem;
    line-height: 4.0625rem;
  }
}

@media (orientation: portrait) and (min-width: 62.5rem) {
  .hero__title {
    font-size: 4.375rem;
    line-height: 4.375rem;
  }
}

@media (orientation: landscape) and (min-height: 25rem) {
  .hero__title {
    font-size: 2.8125rem;
    line-height: 2.8125rem;
  }
}

@media (orientation: landscape) and (min-height: 31.25rem) {
  .hero__title {
    font-size: 3.125rem;
    line-height: 3.125rem;
  }
}

@media (orientation: landscape) and (min-height: 37.5rem) {
  .hero__title {
    font-size: 3.4375rem;
    line-height: 3.4375rem;
  }
}

@media (orientation: landscape) and (min-height: 43.75rem) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }
}

@media (orientation: landscape) and (min-height: 50rem) {
  .hero__title {
    font-size: 4.0625rem;
    line-height: 4.0625rem;
  }
}

@media (orientation: landscape) and (min-height: 56.25rem) {
  .hero__title {
    font-size: 4.375rem;
    line-height: 4.375rem;
  }
}

@media (orientation: landscape) and (min-height: 62.5rem) {
  .hero__title {
    font-size: 4.6875rem;
    line-height: 4.6875rem;
  }
}

.hero__subtitle {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 0.9375rem;
  font-weight: 200;
  line-height: 1.5625rem;
  margin: 0;
  text-align: center;
  padding-right: 16px;
  padding-left: 16px;
}

@media (orientation: portrait) and (min-width: 25rem) {
  .hero__subtitle {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

@media (orientation: portrait) and (min-width: 31.25rem) {
  .hero__subtitle {
    font-size: 1.0625rem;
    line-height: 1.6875rem;
  }
}

@media (orientation: portrait) and (min-width: 37.5rem) {
  .hero__subtitle {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (orientation: portrait) and (min-width: 43.75rem) {
  .hero__subtitle {
    font-size: 1.1875rem;
    line-height: 1.8125rem;
  }
}

@media (orientation: portrait) and (min-width: 50rem) {
  .hero__subtitle {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

@media (orientation: portrait) and (min-width: 56.25rem) {
  .hero__subtitle {
    font-size: 1.3125rem;
    line-height: 1.9375rem;
  }
}

@media (orientation: portrait) and (min-width: 62.5rem) {
  .hero__subtitle {
    font-size: 1.375rem;
    line-height: 2rem;
  }
}

@media (orientation: landscape) and (min-height: 25rem) {
  .hero__subtitle {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (orientation: landscape) and (min-height: 31.25rem) {
  .hero__subtitle {
    font-size: 1.1875rem;
    line-height: 1.8125rem;
  }
}

@media (orientation: landscape) and (min-height: 37.5rem) {
  .hero__subtitle {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

@media (orientation: landscape) and (min-height: 43.75rem) {
  .hero__subtitle {
    font-size: 1.3125rem;
    line-height: 1.9375rem;
  }
}

@media (orientation: landscape) and (min-height: 50rem) {
  .hero__subtitle {
    font-size: 1.375rem;
    line-height: 2rem;
  }
}

@media (orientation: landscape) and (min-height: 56.25rem) {
  .hero__subtitle {
    font-size: 1.4375rem;
    line-height: 2.0625rem;
  }
}

@media (orientation: landscape) and (min-height: 62.5rem) {
  .hero__subtitle {
    font-size: 1.5rem;
    line-height: 2.125rem;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  background: radial-gradient(circle at 100% 0%, rgba(0, 0, 0, 0) 5%, #19271b 25%);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu__link {
  text-decoration: none;
  color: #969696;
  -webkit-tap-highlight-color: transparent;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  font-family: "DM Sans";
  font-size: 40px;
  font-weight: 700;
}

@media (hover: hover) and (pointer: fine) {
  .menu__link:hover {
    -webkit-animation-name: pulse;
            animation-name: pulse;
  }
}

.menu__link--active {
  color: white;
}

.header {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 60px;
}

.header.gradient {
  background: linear-gradient(to bottom, #19271b 0px, rgba(0, 0, 0, 0) 60px);
}

.header__title {
  position: absolute;
  top: calc(60px / 2 - 46px / 2);
  font-family: "Bebas Neue";
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
  margin: 0;
  padding-left: 16px;
}

.header__link {
  color: inherit;
  text-decoration: none;
}

.introduction {
  padding-top: 50px;
  padding-right: 1rem;
  padding-bottom: 50px;
  padding-left: 1rem;
  color: #bcbab6;
}

.introduction__paragraph {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 24px;
}

.introduction__paragraph:first-of-type {
  margin-top: 0;
  font-size: initial;
  font-weight: 700;
  color: #eeece8;
}

.introduction__paragraph:last-of-type {
  margin-bottom: 0;
}

.gallery {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(2%, #101a12), color-stop(25%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, #101a12 2%, rgba(0, 0, 0, 0) 25%);
}

.gallery__list-container {
  padding-top: 50px;
  padding-right: 1rem;
  padding-bottom: 50px;
  padding-left: 1rem;
}

.gallery__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery__list-item:nth-of-type(even) {
  margin-top: 16px;
}

.photos-cards {
  width: 100%;
  height: 100px;
}

.photos-cards span {
  height: inherit;
}

.photos-cards__image {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #19271b;
  color: white;
}

.modal__image-container {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.modal__image {
  width: 100%;
}

.modal__caption {
  font-size: 0.75rem;
  font-style: italic;
  text-align: right;
  padding-top: 0;
  padding-right: 1rem;
  padding-bottom: 0;
  padding-left: 0;
}

.modal__closeMenu {
  position: absolute;
  left: calc(50vw - 1.75rem);
  bottom: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-tap-highlight-color: transparent;
}

.modal__closeMenu:hover {
  background-color: black;
}

.button, .button__menu, .button__close-modal {
  position: absolute;
  width: auto;
  height: 22px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  color: white;
}

.button__icon.svg-inline--fa {
  width: inherit;
  height: inherit;
}

.button__menu {
  top: calc(60px / 2 - 22px / 2);
  right: 1rem;
}

.button__close-modal {
  bottom: 50px;
}

.footer {
  background-color: #101a12;
  height: 50vh;
}

.footer__social-networks {
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 30px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.footer__network {
  width: 35px;
  height: 35px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 28px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
}

.footer__icon.svg-inline--fa {
  color: white;
  width: 20px;
  height: 20px;
}

.footer__credits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 25vh;
}

.footer__credits {
  margin: 0;
  font-size: 14px;
  color: #b4b4b4;
  text-align: center;
}

.footer__credits:first-of-type {
  line-height: 22px;
}

.footer__credits:last-of-type {
  font-size: 12px;
}
