@-webkit-keyframes fadeInAndOut1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInAndOut1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInAndOut2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInAndOut2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInAndOut3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInAndOut3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInAndOut4 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInAndOut4 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInAndOut5 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInAndOut5 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes moveDownAndUp {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes moveDownAndUp {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 30px;
  }
}

@-webkit-keyframes rotateSystem {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateSystem {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #101a12;
  color: white;
}

#app {
  height: 100%;
}

@media (orientation: portrait) {
  #app {
    max-width: 1080px;
  }
}

@media (orientation: landscape) {
  #app {
    max-width: 1920px;
  }
}

.view--hidden {
  opacity: 0;
}

.view--visible {
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.loading__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
  -webkit-animation-name: rotateSystem;
          animation-name: rotateSystem;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.loading__planet {
  position: absolute;
  bottom: 40px;
  display: block;
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 5px;
}

.loading__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 3px;
  border-radius: 50px;
  border-color: white;
}

.loading__star .star__dot {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: white;
}

.header {
  position: fixed;
  top: 0;
  z-index: 4;
  width: calc(100% - 20px * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0) 100%);
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.header__name {
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  color: white;
  letter-spacing: 2px;
  word-spacing: 5px;
  margin: 0;
}

@media (orientation: portrait) {
  .header__name {
    font-size: 22px;
  }
}

@media (orientation: portrait) and (min-width: 25rem) {
  .header__name {
    font-size: 24px;
  }
}

@media (orientation: portrait) and (min-width: 31.25rem) {
  .header__name {
    font-size: 26px;
  }
}

@media (orientation: portrait) and (min-width: 37.5rem) {
  .header__name {
    font-size: 28px;
  }
}

@media (orientation: portrait) and (min-width: 43.75rem) {
  .header__name {
    font-size: 30px;
  }
}

@media (orientation: portrait) and (min-width: 50rem) {
  .header__name {
    font-size: 32px;
  }
}

@media (orientation: portrait) and (min-width: 56.25rem) {
  .header__name {
    font-size: 34px;
  }
}

@media (orientation: portrait) and (min-width: 62.5rem) {
  .header__name {
    font-size: 36px;
  }
}

@media (orientation: landscape) {
  .header__name {
    font-size: 20px;
  }
}

@media (orientation: landscape) and (min-height: 25rem) {
  .header__name {
    font-size: 22px;
  }
}

@media (orientation: landscape) and (min-height: 31.25rem) {
  .header__name {
    font-size: 24px;
  }
}

@media (orientation: landscape) and (min-height: 37.5rem) {
  .header__name {
    font-size: 26px;
  }
}

@media (orientation: landscape) and (min-height: 43.75rem) {
  .header__name {
    font-size: 28px;
  }
}

@media (orientation: landscape) and (min-height: 50rem) {
  .header__name {
    font-size: 30px;
  }
}

@media (orientation: landscape) and (min-height: 56.25rem) {
  .header__name {
    font-size: 32px;
  }
}

@media (orientation: landscape) and (min-height: 62.5rem) {
  .header__name {
    font-size: 34px;
  }
}

.header__name .name__link {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.footer__name {
  font-size: 22px;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  color: white;
  letter-spacing: 2px;
  word-spacing: 5px;
  margin: 0;
  text-align: center;
}

.footer__name .name__link {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.button, .button__menu, .button__modal {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 35px;
  height: 20px;
  padding: 0;
  background-color: unset;
  border: unset;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__menu {
  transform-box: border-box;
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.button__modal {
  position: absolute;
  bottom: 40px;
}

.button__top-bar, .button__top-bar--close, .button__middle-bar, .button__middle-bar--close, .button__bottom-bar, .button__bottom-bar--close {
  width: inherit;
  height: 2px;
  background-color: white;
  -webkit-transform: unset;
          transform: unset;
  -webkit-transition-property: -webkit-transform background-color;
  transition-property: -webkit-transform background-color;
  transition-property: transform background-color;
  transition-property: transform background-color, -webkit-transform background-color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.button__top-bar--close {
  -webkit-transform: translate(0, 9px) rotate(-45deg);
          transform: translate(0, 9px) rotate(-45deg);
}

.button__middle-bar--close {
  background-color: unset;
}

.button__bottom-bar--close {
  -webkit-transform: translate(0, -9px) rotate(45deg);
          transform: translate(0, -9px) rotate(45deg);
}

.menu, .menu--closed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

@media (orientation: portrait) {
  .menu, .menu--closed {
    background: radial-gradient(circle at calc(100% - 1.25rem - (1.875rem / 2)) calc(5rem / 2), rgba(0, 0, 0, 0) 0.9375rem, #19271b 6.25rem);
  }
}

@media (orientation: portrait) and (min-width: 25rem) {
  .menu, .menu--closed {
    background: radial-gradient(circle at calc(100% - 1.25rem - (1.875rem / 2)) calc(5rem / 2), rgba(0, 0, 0, 0) 0.9375rem, #19271b 9.375rem);
  }
}

@media (orientation: portrait) and (min-width: 31.25rem) {
  .menu, .menu--closed {
    background: radial-gradient(circle at calc(100% - 1.25rem - (1.875rem / 2)) calc(5rem / 2), rgba(0, 0, 0, 0) 0.9375rem, #19271b 12.5rem);
  }
}

@media (orientation: portrait) and (min-width: 37.5rem) {
  .menu, .menu--closed {
    background: radial-gradient(circle at calc(100% - 1.875rem - (1.875rem / 2)) calc(5rem / 2), rgba(0, 0, 0, 0) 0.9375rem, #19271b 15.625rem);
  }
}

@media (orientation: portrait) and (min-width: 43.75rem) {
  .menu, .menu--closed {
    background: radial-gradient(circle at calc(100% - 1.875rem - (1.875rem / 2)) calc(6.25rem / 2), rgba(0, 0, 0, 0) 0.9375rem, #19271b 18.75rem);
  }
}

@media (orientation: portrait) and (min-width: 50rem) {
  .menu, .menu--closed {
    background: radial-gradient(circle at calc(100% - 1.875rem - (1.875rem / 2)) calc(6.25rem / 2), rgba(0, 0, 0, 0) 0.9375rem, #19271b 21.875rem);
  }
}

@media (orientation: portrait) and (min-width: 56.25rem) {
  .menu, .menu--closed {
    background: radial-gradient(circle at calc(100% - 2.5rem - (1.875rem / 2)) calc(6.25rem / 2), rgba(0, 0, 0, 0) 0.9375rem, #19271b 25rem);
  }
}

@media (orientation: portrait) and (min-width: 62.5rem) {
  .menu, .menu--closed {
    background: radial-gradient(circle at calc(100% - 2.5rem - (1.875rem / 2)) calc(6.25rem / 2), rgba(0, 0, 0, 0) 0.9375rem, #19271b 28.125rem);
  }
}

@media (orientation: landscape) {
  .menu, .menu--closed {
    background: radial-gradient(circle at calc(100% - 1.875rem - (1.875rem / 2)) calc(4.375rem / 2), rgba(0, 0, 0, 0) 0.9375rem, #19271b 6.25rem);
  }
}

@media (orientation: landscape) and (min-height: 25rem) {
  .menu, .menu--closed {
    background: radial-gradient(circle at calc(100% - 1.875rem - (1.875rem / 2)) calc(4.375rem / 2), rgba(0, 0, 0, 0) 0.9375rem, #19271b 9.375rem);
  }
}

@media (orientation: landscape) and (min-height: 31.25rem) {
  .menu, .menu--closed {
    background: radial-gradient(circle at calc(100% - 1.875rem - (1.875rem / 2)) calc(4.6875rem / 2), rgba(0, 0, 0, 0) 0.9375rem, #19271b 12.5rem);
  }
}

@media (orientation: landscape) and (min-height: 37.5rem) {
  .menu, .menu--closed {
    background: radial-gradient(circle at calc(100% - 1.875rem - (1.875rem / 2)) calc(5rem / 2), rgba(0, 0, 0, 0) 0.9375rem, #19271b 15.625rem);
  }
}

@media (orientation: landscape) and (min-height: 43.75rem) {
  .menu, .menu--closed {
    background: radial-gradient(circle at calc(100% - 1.875rem - (1.875rem / 2)) calc(5.3125rem / 2), rgba(0, 0, 0, 0) 0.9375rem, #19271b 18.75rem);
  }
}

@media (orientation: landscape) and (min-height: 50rem) {
  .menu, .menu--closed {
    background: radial-gradient(circle at calc(100% - 2.5rem - (1.875rem / 2)) calc(5.625rem / 2), rgba(0, 0, 0, 0) 0.9375rem, #19271b 21.875rem);
  }
}

@media (orientation: landscape) and (min-height: 56.25rem) {
  .menu, .menu--closed {
    background: radial-gradient(circle at calc(100% - 2.5rem - (1.875rem / 2)) calc(5.9375rem / 2), rgba(0, 0, 0, 0) 0.9375rem, #19271b 25rem);
  }
}

@media (orientation: landscape) and (min-height: 62.5rem) {
  .menu, .menu--closed {
    background: radial-gradient(circle at calc(100% - 3.125rem - (1.875rem / 2)) calc(6.25rem / 2), rgba(0, 0, 0, 0) 0.9375rem, #19271b 28.125rem);
  }
}

.menu--closed {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.menu__list, .menu__list--closed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  opacity: 1;
  width: 100%;
  text-align: center;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1.25s;
          transition-duration: 1.25s;
}

.menu__list--closed {
  opacity: 0;
}

.menu__link {
  text-decoration: none;
  color: #969696;
  -webkit-tap-highlight-color: transparent;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

@media (orientation: portrait) {
  .menu__link {
    font-size: 2.5rem;
  }
}

@media (orientation: portrait) and (min-width: 25rem) {
  .menu__link {
    font-size: 2.8125rem;
  }
}

@media (orientation: portrait) and (min-width: 31.25rem) {
  .menu__link {
    font-size: 3.125rem;
  }
}

@media (orientation: portrait) and (min-width: 37.5rem) {
  .menu__link {
    font-size: 3.4375rem;
  }
}

@media (orientation: portrait) and (min-width: 43.75rem) {
  .menu__link {
    font-size: 3.75rem;
  }
}

@media (orientation: portrait) and (min-width: 50rem) {
  .menu__link {
    font-size: 4.0625rem;
  }
}

@media (orientation: portrait) and (min-width: 56.25rem) {
  .menu__link {
    font-size: 4.375rem;
  }
}

@media (orientation: portrait) and (min-width: 62.5rem) {
  .menu__link {
    font-size: 4.6875rem;
  }
}

@media (orientation: landscape) {
  .menu__link {
    font-size: 2.5rem;
  }
}

@media (orientation: landscape) and (min-height: 25rem) {
  .menu__link {
    font-size: 2.8125rem;
  }
}

@media (orientation: landscape) and (min-height: 31.25rem) {
  .menu__link {
    font-size: 3.125rem;
  }
}

@media (orientation: landscape) and (min-height: 37.5rem) {
  .menu__link {
    font-size: 3.4375rem;
  }
}

@media (orientation: landscape) and (min-height: 43.75rem) {
  .menu__link {
    font-size: 3.75rem;
  }
}

@media (orientation: landscape) and (min-height: 50rem) {
  .menu__link {
    font-size: 4.0625rem;
  }
}

@media (orientation: landscape) and (min-height: 56.25rem) {
  .menu__link {
    font-size: 4.375rem;
  }
}

@media (orientation: landscape) and (min-height: 62.5rem) {
  .menu__link {
    font-size: 4.6875rem;
  }
}

.menu__link--active {
  color: white;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.hero__container {
  position: absolute;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: inherit;
  height: inherit;
}

.hero__background, .hero__background--1, .hero__background--2, .hero__background--3, .hero__background--4, .hero__background--5, .hero__background--404 {
  background-position-x: 50%;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.hero__background--1 {
  background-image: url("https://lh3.googleusercontent.com/M-Cy0zTisnpjaCobpnmSGw_csGA2HHgEu4wqXJPvjTl9GWDN2KLQPJ_AorRD3soNtjQIs6XIESn2F1UjePrTmZ8yw_gMpVNPFQJrYnDf131Lrog2HuzYKk5SJGLOTy_ojY6-KfIh6g=w1920-h1080");
  -webkit-animation-name: fadeInAndOut1;
          animation-name: fadeInAndOut1;
}

.hero__background--2 {
  background-image: url("https://lh3.googleusercontent.com/x-Epo9_cT7fBvPu03CuZ4Pxhsi6zxbtSEtQ4lAftMDGB6tNkEguZBX8lkX_OnGINJS-2j4tipj1ZRiEVyOanbOO3SO_mRA_vIJ3vN4RTasKjPi5vFaeK-AA3Wj14P7c5jGFHHf7T2g=w1920-h1080");
  -webkit-animation-name: fadeInAndOut2;
          animation-name: fadeInAndOut2;
}

.hero__background--3 {
  background-image: url("https://lh3.googleusercontent.com/EIR43zKJyT0G4aEqTYR7guf1B9W7LORp3ywN3aoy18yY4mg5iPNggkyTqfK3tS0BpfJk8Sf2oLYrIiWokbZYAY66z5aZMzmtwHdRxFqrdQfII9fXFefHDUgkT1Ti3Hz3COVTTrwHOA=w1920-h1080");
  background-position-x: 20%;
  -webkit-animation-name: fadeInAndOut3;
          animation-name: fadeInAndOut3;
}

.hero__background--4 {
  background-image: url("https://lh3.googleusercontent.com/oWtO6I2-HLQ0O-PjWyl6oAQkVaihh_lrFXD3ioqemv-VrzeGjIV2ndFIrK3rOLMdiyGJaK99GXTEifULeifu7xw5E2VuO9rW2Bt6sf0f9CeOONPRSxOct7Y_I9x90mY9hlKdOQtM4A=w1920-h1080");
  -webkit-animation-name: fadeInAndOut4;
          animation-name: fadeInAndOut4;
}

.hero__background--5 {
  background-image: url("https://lh3.googleusercontent.com/RoO69wbLVhDxxXjpnJmnAcuv-hiiLlPJX-ip90np2tr_YdnP_y4i8CJ4LXdp5yCWv6HWLIf7oVCUhXwt0DgxNabsvjJ17NzTkNGcdChggeNGLF-uIibIslt7ezL3BdTlWhi_qtAxgw=w1920-h1080");
  background-position-x: 65%;
  -webkit-animation-name: fadeInAndOut5;
          animation-name: fadeInAndOut5;
}

.hero__background--404 {
  background-image: url("https://lh3.googleusercontent.com/VlmRP9R6zjMXzUezjU6fpgAYt37rNritFrDMuhqAfy5RKjyvqCH9bd8tQdB-jx46sc_NWVg01aFu-voQ8dD74wjhSDt0yDl75-E6gf6fd3bw8yj4jSk_kZwMp8hp8WL2_b9UHO7S5A=w1920-h1080");
  -webkit-animation-duration: unset;
          animation-duration: unset;
}

.hero__back-filter {
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero__move-down-icon {
  position: absolute;
  left: calc(50% - 25px / 2);
  width: 25px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: moveDownAndUp;
          animation-name: moveDownAndUp;
  -webkit-animation-duration: 1.75s;
          animation-duration: 1.75s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.hero__arrow {
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-clip-path: polygon(0 0, 50% 12px, 100% 0, 100% 3px, 50% 15px, 0 3px);
          clip-path: polygon(0 0, 50% 12px, 100% 0, 100% 3px, 50% 15px, 0 3px);
}

.hero__title, .hero__title--homepage, .hero__title--gallery, .hero__title--404 {
  margin: 0;
  color: white;
  font-family: "Crimson Pro", Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
}

@media (orientation: portrait) {
  .hero__title--homepage {
    font-size: 40px;
    line-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (orientation: portrait) and (min-width: 25rem) {
  .hero__title--homepage {
    font-size: 40px;
    line-height: 40px;
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media (orientation: portrait) and (min-width: 31.25rem) {
  .hero__title--homepage {
    font-size: 50px;
    line-height: 50px;
  }
}

@media (orientation: portrait) and (min-width: 37.5rem) {
  .hero__title--homepage {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (orientation: portrait) and (min-width: 43.75rem) {
  .hero__title--homepage {
    font-size: 65px;
    line-height: 65px;
  }
}

@media (orientation: portrait) and (min-width: 50rem) {
  .hero__title--homepage {
    font-size: 75px;
    line-height: 75px;
  }
}

@media (orientation: portrait) and (min-width: 56.25rem) {
  .hero__title--homepage {
    font-size: 85px;
    line-height: 85px;
  }
}

@media (orientation: portrait) and (min-width: 62.5rem) {
  .hero__title--homepage {
    font-size: 90px;
    line-height: 90px;
  }
}

@media (orientation: landscape) {
  .hero__title--homepage {
    font-size: 30px;
    line-height: 30px;
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media (orientation: landscape) and (min-height: 25rem) {
  .hero__title--homepage {
    font-size: 35px;
    line-height: 35px;
  }
}

@media (orientation: landscape) and (min-height: 31.25rem) {
  .hero__title--homepage {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (orientation: landscape) and (min-height: 37.5rem) {
  .hero__title--homepage {
    font-size: 50px;
    line-height: 50px;
  }
}

@media (orientation: landscape) and (min-height: 43.75rem) {
  .hero__title--homepage {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (orientation: landscape) and (min-height: 50rem) {
  .hero__title--homepage {
    font-size: 65px;
    line-height: 65px;
  }
}

@media (orientation: landscape) and (min-height: 56.25rem) {
  .hero__title--homepage {
    font-size: 75px;
    line-height: 75px;
  }
}

@media (orientation: landscape) and (min-height: 62.5rem) {
  .hero__title--homepage {
    font-size: 85px;
    line-height: 85px;
  }
}

.hero__title--gallery {
  padding-right: 20px;
  padding-left: 20px;
}

.hero__title .title, .hero__title--homepage .title, .hero__title--gallery .title, .hero__title--404 .title, .hero__title .title__job-part1, .hero__title--homepage .hero__title .title__job-part1, .hero__title .hero__title--homepage .title__job-part1, .hero__title--gallery .hero__title .title__job-part1, .hero__title .hero__title--gallery .title__job-part1, .hero__title--404 .hero__title .title__job-part1, .hero__title .hero__title--404 .title__job-part1, .hero__title .hero__title--homepage .title__job-part1, .hero__title--homepage .hero__title .title__job-part1, .hero__title--homepage .title__job-part1, .hero__title--gallery .hero__title--homepage .title__job-part1, .hero__title--homepage .hero__title--gallery .title__job-part1, .hero__title--404 .hero__title--homepage .title__job-part1, .hero__title--homepage .hero__title--404 .title__job-part1, .hero__title .hero__title--gallery .title__job-part1, .hero__title--gallery .hero__title .title__job-part1, .hero__title--homepage .hero__title--gallery .title__job-part1, .hero__title--gallery .hero__title--homepage .title__job-part1, .hero__title--gallery .title__job-part1, .hero__title--404 .hero__title--gallery .title__job-part1, .hero__title--gallery .hero__title--404 .title__job-part1, .hero__title .hero__title--404 .title__job-part1, .hero__title--404 .hero__title .title__job-part1, .hero__title--homepage .hero__title--404 .title__job-part1, .hero__title--404 .hero__title--homepage .title__job-part1, .hero__title--gallery .hero__title--404 .title__job-part1, .hero__title--404 .hero__title--gallery .title__job-part1, .hero__title--404 .title__job-part1, .hero__title .title__hobby-part1, .hero__title--homepage .hero__title .title__hobby-part1, .hero__title .hero__title--homepage .title__hobby-part1, .hero__title--gallery .hero__title .title__hobby-part1, .hero__title .hero__title--gallery .title__hobby-part1, .hero__title--404 .hero__title .title__hobby-part1, .hero__title .hero__title--404 .title__hobby-part1, .hero__title .hero__title--homepage .title__hobby-part1, .hero__title--homepage .hero__title .title__hobby-part1, .hero__title--homepage .title__hobby-part1, .hero__title--gallery .hero__title--homepage .title__hobby-part1, .hero__title--homepage .hero__title--gallery .title__hobby-part1, .hero__title--404 .hero__title--homepage .title__hobby-part1, .hero__title--homepage .hero__title--404 .title__hobby-part1, .hero__title .hero__title--gallery .title__hobby-part1, .hero__title--gallery .hero__title .title__hobby-part1, .hero__title--homepage .hero__title--gallery .title__hobby-part1, .hero__title--gallery .hero__title--homepage .title__hobby-part1, .hero__title--gallery .title__hobby-part1, .hero__title--404 .hero__title--gallery .title__hobby-part1, .hero__title--gallery .hero__title--404 .title__hobby-part1, .hero__title .hero__title--404 .title__hobby-part1, .hero__title--404 .hero__title .title__hobby-part1, .hero__title--homepage .hero__title--404 .title__hobby-part1, .hero__title--404 .hero__title--homepage .title__hobby-part1, .hero__title--gallery .hero__title--404 .title__hobby-part1, .hero__title--404 .hero__title--gallery .title__hobby-part1, .hero__title--404 .title__hobby-part1, .hero__title .title__job-part2, .hero__title--homepage .hero__title .title__job-part2, .hero__title .hero__title--homepage .title__job-part2, .hero__title--gallery .hero__title .title__job-part2, .hero__title .hero__title--gallery .title__job-part2, .hero__title--404 .hero__title .title__job-part2, .hero__title .hero__title--404 .title__job-part2, .hero__title .hero__title--homepage .title__job-part2, .hero__title--homepage .hero__title .title__job-part2, .hero__title--homepage .title__job-part2, .hero__title--gallery .hero__title--homepage .title__job-part2, .hero__title--homepage .hero__title--gallery .title__job-part2, .hero__title--404 .hero__title--homepage .title__job-part2, .hero__title--homepage .hero__title--404 .title__job-part2, .hero__title .hero__title--gallery .title__job-part2, .hero__title--gallery .hero__title .title__job-part2, .hero__title--homepage .hero__title--gallery .title__job-part2, .hero__title--gallery .hero__title--homepage .title__job-part2, .hero__title--gallery .title__job-part2, .hero__title--404 .hero__title--gallery .title__job-part2, .hero__title--gallery .hero__title--404 .title__job-part2, .hero__title .hero__title--404 .title__job-part2, .hero__title--404 .hero__title .title__job-part2, .hero__title--homepage .hero__title--404 .title__job-part2, .hero__title--404 .hero__title--homepage .title__job-part2, .hero__title--gallery .hero__title--404 .title__job-part2, .hero__title--404 .hero__title--gallery .title__job-part2, .hero__title--404 .title__job-part2, .hero__title .title__hobby-part2, .hero__title--homepage .hero__title .title__hobby-part2, .hero__title .hero__title--homepage .title__hobby-part2, .hero__title--gallery .hero__title .title__hobby-part2, .hero__title .hero__title--gallery .title__hobby-part2, .hero__title--404 .hero__title .title__hobby-part2, .hero__title .hero__title--404 .title__hobby-part2, .hero__title .hero__title--homepage .title__hobby-part2, .hero__title--homepage .hero__title .title__hobby-part2, .hero__title--homepage .title__hobby-part2, .hero__title--gallery .hero__title--homepage .title__hobby-part2, .hero__title--homepage .hero__title--gallery .title__hobby-part2, .hero__title--404 .hero__title--homepage .title__hobby-part2, .hero__title--homepage .hero__title--404 .title__hobby-part2, .hero__title .hero__title--gallery .title__hobby-part2, .hero__title--gallery .hero__title .title__hobby-part2, .hero__title--homepage .hero__title--gallery .title__hobby-part2, .hero__title--gallery .hero__title--homepage .title__hobby-part2, .hero__title--gallery .title__hobby-part2, .hero__title--404 .hero__title--gallery .title__hobby-part2, .hero__title--gallery .hero__title--404 .title__hobby-part2, .hero__title .hero__title--404 .title__hobby-part2, .hero__title--404 .hero__title .title__hobby-part2, .hero__title--homepage .hero__title--404 .title__hobby-part2, .hero__title--404 .hero__title--homepage .title__hobby-part2, .hero__title--gallery .hero__title--404 .title__hobby-part2, .hero__title--404 .hero__title--gallery .title__hobby-part2, .hero__title--404 .title__hobby-part2, .hero__title .title__ampersand, .hero__title--homepage .hero__title .title__ampersand, .hero__title .hero__title--homepage .title__ampersand, .hero__title--gallery .hero__title .title__ampersand, .hero__title .hero__title--gallery .title__ampersand, .hero__title--404 .hero__title .title__ampersand, .hero__title .hero__title--404 .title__ampersand, .hero__title .hero__title--homepage .title__ampersand, .hero__title--homepage .hero__title .title__ampersand, .hero__title--homepage .title__ampersand, .hero__title--gallery .hero__title--homepage .title__ampersand, .hero__title--homepage .hero__title--gallery .title__ampersand, .hero__title--404 .hero__title--homepage .title__ampersand, .hero__title--homepage .hero__title--404 .title__ampersand, .hero__title .hero__title--gallery .title__ampersand, .hero__title--gallery .hero__title .title__ampersand, .hero__title--homepage .hero__title--gallery .title__ampersand, .hero__title--gallery .hero__title--homepage .title__ampersand, .hero__title--gallery .title__ampersand, .hero__title--404 .hero__title--gallery .title__ampersand, .hero__title--gallery .hero__title--404 .title__ampersand, .hero__title .hero__title--404 .title__ampersand, .hero__title--404 .hero__title .title__ampersand, .hero__title--homepage .hero__title--404 .title__ampersand, .hero__title--404 .hero__title--homepage .title__ampersand, .hero__title--gallery .hero__title--404 .title__ampersand, .hero__title--404 .hero__title--gallery .title__ampersand, .hero__title--404 .title__ampersand, .hero__title .title__page, .hero__title--homepage .hero__title .title__page, .hero__title .hero__title--homepage .title__page, .hero__title--gallery .hero__title .title__page, .hero__title .hero__title--gallery .title__page, .hero__title--404 .hero__title .title__page, .hero__title .hero__title--404 .title__page, .hero__title .hero__title--homepage .title__page, .hero__title--homepage .hero__title .title__page, .hero__title--homepage .title__page, .hero__title--gallery .hero__title--homepage .title__page, .hero__title--homepage .hero__title--gallery .title__page, .hero__title--404 .hero__title--homepage .title__page, .hero__title--homepage .hero__title--404 .title__page, .hero__title .hero__title--gallery .title__page, .hero__title--gallery .hero__title .title__page, .hero__title--homepage .hero__title--gallery .title__page, .hero__title--gallery .hero__title--homepage .title__page, .hero__title--gallery .title__page, .hero__title--404 .hero__title--gallery .title__page, .hero__title--gallery .hero__title--404 .title__page, .hero__title .hero__title--404 .title__page, .hero__title--404 .hero__title .title__page, .hero__title--homepage .hero__title--404 .title__page, .hero__title--404 .hero__title--homepage .title__page, .hero__title--gallery .hero__title--404 .title__page, .hero__title--404 .hero__title--gallery .title__page, .hero__title--404 .title__page, .hero__title .title__intro, .hero__title--homepage .hero__title .title__intro, .hero__title .hero__title--homepage .title__intro, .hero__title--gallery .hero__title .title__intro, .hero__title .hero__title--gallery .title__intro, .hero__title--404 .hero__title .title__intro, .hero__title .hero__title--404 .title__intro, .hero__title .hero__title--homepage .title__intro, .hero__title--homepage .hero__title .title__intro, .hero__title--homepage .title__intro, .hero__title--gallery .hero__title--homepage .title__intro, .hero__title--homepage .hero__title--gallery .title__intro, .hero__title--404 .hero__title--homepage .title__intro, .hero__title--homepage .hero__title--404 .title__intro, .hero__title .hero__title--gallery .title__intro, .hero__title--gallery .hero__title .title__intro, .hero__title--homepage .hero__title--gallery .title__intro, .hero__title--gallery .hero__title--homepage .title__intro, .hero__title--gallery .title__intro, .hero__title--404 .hero__title--gallery .title__intro, .hero__title--gallery .hero__title--404 .title__intro, .hero__title .hero__title--404 .title__intro, .hero__title--404 .hero__title .title__intro, .hero__title--homepage .hero__title--404 .title__intro, .hero__title--404 .hero__title--homepage .title__intro, .hero__title--gallery .hero__title--404 .title__intro, .hero__title--404 .hero__title--gallery .title__intro, .hero__title--404 .title__intro {
  position: relative;
  z-index: 1;
  display: block;
  font-weight: 900;
}

.hero__title .title__job-part1, .hero__title--homepage .title__job-part1, .hero__title--gallery .title__job-part1, .hero__title--404 .title__job-part1, .hero__title .title__hobby-part1, .hero__title--homepage .title__hobby-part1, .hero__title--gallery .title__hobby-part1, .hero__title--404 .title__hobby-part1 {
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}

.hero__title .title__ampersand, .hero__title--homepage .title__ampersand, .hero__title--gallery .title__ampersand, .hero__title--404 .title__ampersand {
  z-index: 0;
  display: block;
  color: #b6ceba;
  padding-left: 20px;
  font-weight: revert;
}

@media (orientation: portrait) {
  .hero__title .title__ampersand, .hero__title--homepage .title__ampersand, .hero__title--gallery .title__ampersand, .hero__title--404 .title__ampersand {
    font-size: 105px;
  }
}

@media (orientation: portrait) and (min-width: 25rem) {
  .hero__title .title__ampersand, .hero__title--homepage .title__ampersand, .hero__title--gallery .title__ampersand, .hero__title--404 .title__ampersand {
    font-size: 120px;
  }
}

@media (orientation: portrait) and (min-width: 31.25rem) {
  .hero__title .title__ampersand, .hero__title--homepage .title__ampersand, .hero__title--gallery .title__ampersand, .hero__title--404 .title__ampersand {
    font-size: 150px;
  }
}

@media (orientation: portrait) and (min-width: 37.5rem) {
  .hero__title .title__ampersand, .hero__title--homepage .title__ampersand, .hero__title--gallery .title__ampersand, .hero__title--404 .title__ampersand {
    font-size: 180px;
  }
}

@media (orientation: portrait) and (min-width: 43.75rem) {
  .hero__title .title__ampersand, .hero__title--homepage .title__ampersand, .hero__title--gallery .title__ampersand, .hero__title--404 .title__ampersand {
    font-size: 195px;
  }
}

@media (orientation: portrait) and (min-width: 50rem) {
  .hero__title .title__ampersand, .hero__title--homepage .title__ampersand, .hero__title--gallery .title__ampersand, .hero__title--404 .title__ampersand {
    font-size: 225px;
  }
}

@media (orientation: portrait) and (min-width: 56.25rem) {
  .hero__title .title__ampersand, .hero__title--homepage .title__ampersand, .hero__title--gallery .title__ampersand, .hero__title--404 .title__ampersand {
    font-size: 255px;
  }
}

@media (orientation: portrait) and (min-width: 62.5rem) {
  .hero__title .title__ampersand, .hero__title--homepage .title__ampersand, .hero__title--gallery .title__ampersand, .hero__title--404 .title__ampersand {
    font-size: 270px;
  }
}

@media (orientation: landscape) {
  .hero__title .title__ampersand, .hero__title--homepage .title__ampersand, .hero__title--gallery .title__ampersand, .hero__title--404 .title__ampersand {
    font-size: 90px;
  }
}

@media (orientation: landscape) and (min-height: 25rem) {
  .hero__title .title__ampersand, .hero__title--homepage .title__ampersand, .hero__title--gallery .title__ampersand, .hero__title--404 .title__ampersand {
    font-size: 105px;
  }
}

@media (orientation: landscape) and (min-height: 31.25rem) {
  .hero__title .title__ampersand, .hero__title--homepage .title__ampersand, .hero__title--gallery .title__ampersand, .hero__title--404 .title__ampersand {
    font-size: 120px;
  }
}

@media (orientation: landscape) and (min-height: 37.5rem) {
  .hero__title .title__ampersand, .hero__title--homepage .title__ampersand, .hero__title--gallery .title__ampersand, .hero__title--404 .title__ampersand {
    font-size: 150px;
  }
}

@media (orientation: landscape) and (min-height: 43.75rem) {
  .hero__title .title__ampersand, .hero__title--homepage .title__ampersand, .hero__title--gallery .title__ampersand, .hero__title--404 .title__ampersand {
    font-size: 180px;
  }
}

@media (orientation: landscape) and (min-height: 50rem) {
  .hero__title .title__ampersand, .hero__title--homepage .title__ampersand, .hero__title--gallery .title__ampersand, .hero__title--404 .title__ampersand {
    font-size: 195px;
  }
}

@media (orientation: landscape) and (min-height: 56.25rem) {
  .hero__title .title__ampersand, .hero__title--homepage .title__ampersand, .hero__title--gallery .title__ampersand, .hero__title--404 .title__ampersand {
    font-size: 225px;
  }
}

@media (orientation: landscape) and (min-height: 62.5rem) {
  .hero__title .title__ampersand, .hero__title--homepage .title__ampersand, .hero__title--gallery .title__ampersand, .hero__title--404 .title__ampersand {
    font-size: 255px;
  }
}

@media (orientation: portrait) {
  .hero__title .title__page, .hero__title--homepage .title__page, .hero__title--gallery .title__page, .hero__title--404 .title__page {
    font-size: 40px;
  }
}

@media (orientation: portrait) and (min-width: 25rem) {
  .hero__title .title__page, .hero__title--homepage .title__page, .hero__title--gallery .title__page, .hero__title--404 .title__page {
    font-size: 40px;
  }
}

@media (orientation: portrait) and (min-width: 31.25rem) {
  .hero__title .title__page, .hero__title--homepage .title__page, .hero__title--gallery .title__page, .hero__title--404 .title__page {
    font-size: 50px;
  }
}

@media (orientation: portrait) and (min-width: 37.5rem) {
  .hero__title .title__page, .hero__title--homepage .title__page, .hero__title--gallery .title__page, .hero__title--404 .title__page {
    font-size: 60px;
  }
}

@media (orientation: portrait) and (min-width: 43.75rem) {
  .hero__title .title__page, .hero__title--homepage .title__page, .hero__title--gallery .title__page, .hero__title--404 .title__page {
    font-size: 65px;
  }
}

@media (orientation: portrait) and (min-width: 50rem) {
  .hero__title .title__page, .hero__title--homepage .title__page, .hero__title--gallery .title__page, .hero__title--404 .title__page {
    font-size: 75px;
  }
}

@media (orientation: portrait) and (min-width: 56.25rem) {
  .hero__title .title__page, .hero__title--homepage .title__page, .hero__title--gallery .title__page, .hero__title--404 .title__page {
    font-size: 85px;
  }
}

@media (orientation: portrait) and (min-width: 62.5rem) {
  .hero__title .title__page, .hero__title--homepage .title__page, .hero__title--gallery .title__page, .hero__title--404 .title__page {
    font-size: 90px;
  }
}

.hero__title .title__intro, .hero__title--homepage .title__intro, .hero__title--gallery .title__intro, .hero__title--404 .title__intro {
  font-weight: initial;
}

@media (orientation: portrait) {
  .hero__title .title__intro, .hero__title--homepage .title__intro, .hero__title--gallery .title__intro, .hero__title--404 .title__intro {
    font-size: 25px;
  }
}

@media (orientation: portrait) and (min-width: 25rem) {
  .hero__title .title__intro, .hero__title--homepage .title__intro, .hero__title--gallery .title__intro, .hero__title--404 .title__intro {
    font-size: 30px;
  }
}

@media (orientation: portrait) and (min-width: 31.25rem) {
  .hero__title .title__intro, .hero__title--homepage .title__intro, .hero__title--gallery .title__intro, .hero__title--404 .title__intro {
    font-size: 40px;
  }
}

@media (orientation: portrait) and (min-width: 37.5rem) {
  .hero__title .title__intro, .hero__title--homepage .title__intro, .hero__title--gallery .title__intro, .hero__title--404 .title__intro {
    font-size: 50px;
  }
}

@media (orientation: portrait) and (min-width: 43.75rem) {
  .hero__title .title__intro, .hero__title--homepage .title__intro, .hero__title--gallery .title__intro, .hero__title--404 .title__intro {
    font-size: 55px;
  }
}

@media (orientation: portrait) and (min-width: 50rem) {
  .hero__title .title__intro, .hero__title--homepage .title__intro, .hero__title--gallery .title__intro, .hero__title--404 .title__intro {
    font-size: 65px;
  }
}

@media (orientation: portrait) and (min-width: 56.25rem) {
  .hero__title .title__intro, .hero__title--homepage .title__intro, .hero__title--gallery .title__intro, .hero__title--404 .title__intro {
    font-size: 75px;
  }
}

@media (orientation: portrait) and (min-width: 62.5rem) {
  .hero__title .title__intro, .hero__title--homepage .title__intro, .hero__title--gallery .title__intro, .hero__title--404 .title__intro {
    font-size: 80px;
  }
}

.homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

@media (orientation: portrait) {
  .homepage {
    row-gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (orientation: portrait) and (min-width: 62.5rem) {
  .homepage {
    row-gap: 100px;
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@media (orientation: landscape) {
  .homepage {
    row-gap: 150px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.homepage__my-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (orientation: portrait) {
  .homepage__my-photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
    max-width: 700px;
  }
}

@media (orientation: portrait) and (min-width: 62.5rem) {
  .homepage__my-photo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

@media (orientation: landscape) {
  .homepage__my-photo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    max-width: 1100px;
  }
}

@media (orientation: portrait) {
  .homepage__my-photo span {
    width: 150px;
  }
}

@media (orientation: portrait) and (min-width: 25rem) {
  .homepage__my-photo span {
    width: 165px;
  }
}

@media (orientation: portrait) and (min-width: 62.5rem) {
  .homepage__my-photo span {
    width: 35%;
  }
}

@media (orientation: landscape) {
  .homepage__my-photo span {
    width: 30%;
  }
}

.homepage__introduction {
  font-weight: 700;
  margin: 0;
}

@media (orientation: portrait) {
  .homepage__introduction {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (orientation: portrait) and (min-width: 62.5rem) {
  .homepage__introduction {
    width: 65%;
    font-size: 27px;
    line-height: 37px;
  }
}

@media (orientation: landscape) {
  .homepage__introduction {
    width: 70%;
    font-size: 30px;
    line-height: 40px;
  }
}

.homepage__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (orientation: portrait) {
  .homepage__description {
    row-gap: 40px;
    max-width: 700px;
  }
}

@media (orientation: portrait) and (min-width: 62.5rem) {
  .homepage__description {
    row-gap: 50px;
  }
}

@media (orientation: landscape) {
  .homepage__description {
    row-gap: 100px;
    max-width: 1100px;
  }
}

.homepage__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (orientation: portrait) {
  .homepage__section {
    row-gap: 20px;
  }
}

@media (orientation: portrait) and (min-width: 62.5rem) {
  .homepage__section {
    row-gap: 25px;
  }
}

@media (orientation: landscape) {
  .homepage__section {
    row-gap: 40px;
  }
}

.homepage__title {
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #3a5a40;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin: 0;
}

@media (orientation: portrait) {
  .homepage__title {
    font-size: 24px;
  }
}

@media (orientation: portrait) and (min-width: 25rem) {
  .homepage__title {
    font-size: 27px;
  }
}

@media (orientation: portrait) and (min-width: 37.5rem) {
  .homepage__title {
    font-size: 30px;
  }
}

@media (orientation: portrait) and (min-width: 50rem) {
  .homepage__title {
    font-size: 35px;
  }
}

@media (orientation: portrait) and (min-width: 62.5rem) {
  .homepage__title {
    font-size: 44px;
  }
}

@media (orientation: landscape) {
  .homepage__title {
    font-size: 45px;
    padding-left: 20px;
  }
}

.homepage__title:after {
  content: "\002E";
  color: #3a5a40;
}

.homepage__paragraph {
  margin: 0;
}

@media (orientation: portrait) {
  .homepage__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (orientation: portrait) and (min-width: 25rem) {
  .homepage__paragraph {
    font-size: 17px;
    line-height: 27px;
  }
}

@media (orientation: portrait) and (min-width: 31.25rem) {
  .homepage__paragraph {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (orientation: portrait) and (min-width: 37.5rem) {
  .homepage__paragraph {
    font-size: 19px;
    line-height: 29px;
  }
}

@media (orientation: portrait) and (min-width: 43.75rem) {
  .homepage__paragraph {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (orientation: portrait) and (min-width: 50rem) {
  .homepage__paragraph {
    font-size: 21px;
    line-height: 31px;
  }
}

@media (orientation: portrait) and (min-width: 56.25rem) {
  .homepage__paragraph {
    font-size: 22px;
    line-height: 32px;
  }
}

@media (orientation: portrait) and (min-width: 62.5rem) {
  .homepage__paragraph {
    font-size: 23px;
    line-height: 33px;
  }
}

@media (orientation: landscape) {
  .homepage__paragraph {
    font-size: 25px;
    line-height: 35px;
  }
}

.gallery__list-container {
  padding-top: 80px;
  padding-right: 20px;
  padding-bottom: 80px;
  padding-left: 20px;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery__list-item {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media (orientation: portrait) {
  .gallery__list-item {
    width: 130px;
    height: 130px;
  }
}

@media (orientation: portrait) and (min-width: 31.25rem) {
  .gallery__list-item {
    width: 200px;
    height: 200px;
  }
}

@media (pointer: fine), (pointer: none) {
  .gallery__list-item:hover {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
}

.image__portrait {
  width: 100%;
  vertical-align: middle;
}

.photos-cards {
  width: 100%;
  height: 100%;
}

.photos-cards span {
  width: inherit;
  height: inherit;
}

.photos-cards__image {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #19271b;
  color: white;
}

.modal__image-container {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.modal__image {
  width: 100%;
  vertical-align: middle;
}

.modal--hidden {
  display: none;
}

.footer {
  background-color: #19271b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 50px;
}

.footer__social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  width: 100%;
  max-width: 700px;
}

.footer__links {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__network {
  width: 38px;
  height: 38px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 38px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
}

.footer__icon.svg-inline--fa {
  color: white;
  width: 22px;
  height: 22px;
}

.footer__credits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
  padding-bottom: 20px;
  max-width: 700px;
}

.footer__credits {
  margin: 0;
  font-size: 14px;
  color: #b4b4b4;
  text-align: center;
}

.footer__credits:first-of-type {
  line-height: 22px;
}

.footer__credits:last-of-type {
  font-size: 12px;
}
