// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

@font-face {
	font-family: "Quicksand--Regular";
	src: url("fonts/Quicksand/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Comfortaa--Bold";
	src: url("fonts/Comfortaa/Comfortaa-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "ZCOOLXiaoWei--Regular";
	src: url("fonts/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Architects_Daughter--Regular";
	src: url("fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf") format("truetype");
}

@import
	"components/globals/globals",
	"components/home-page/home--mobile",
	"components/navigation/navigation--mobile",
	"components/my-name/my-name",
	"components/header/header--mobile",
	"components/introduction/introduction",
	"components/gallery-page/gallery--mobile",
	"components/link/link--mobile",
	"components/photos-list/photos-list--mobile",
	"components/photos-cards/photos-cards--mobile",
	"components/modal/modal--mobile",
	"components/about-page/about--mobile",
	"components/footer/footer--mobile"
;