.loadingScreen { // <div>
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: {
		right: 1.25rem;
		left: 1.25rem;
	}

	&__svg { // <svg>
		width: 100%;
		max-width: 31.25rem;
		height: 100%;
		fill: none;
	}

	&__group1, &__group2, &__group3 { // <g>
		transform: {
			box: fill-box;
			origin: 50% 50%;
		}
		animation: {
			name: rotation;
			iteration-count: infinite;
			timing-function: linear;
		}
	}

	&__group1 { // <g>
		animation-duration: 2s;
	}

	&__group2 { // <g>
		animation: {
			duration: 4s;
			direction: reverse;
		}
	}

	&__group3 { // <g>
		animation-duration: 6s;
	}

	&__arc1, &__arc2, &__arc3, &__arc4, &__arc5, &__arc6 { // <path>
		fill: white;
	}

	&__text { // <text>
		font: {
			family: $dm-sans;
			size: 1.125rem;
		}
		fill: white;
		animation: {
			name: blinking;
			duration: 1s;
			iteration-count: infinite;
			direction: alternate;
		}
	}
}