// Photography website
// Started on July 2020
// By Arnaud De Baerdemaeker

.photos-cards {
	&__card { // <div>
		border-radius: 0.2rem;
		box-shadow: 0 0 0.469rem $blackHalfTransparent;
		width: 18rem;
		@media #{$mq-390-up} {
			width: 21.875rem;
		}
	}

	&__titles { // <div>
		padding: {
			top: 1rem;
			right: 1rem;
			left: 1rem;
		}
	}

	&__mainTitle { // <h3>
		margin: {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		color: $darkGreen;
		letter-spacing: unset;
	}

	&__subtitle { // <h4>
		color: $black;
		font: {
			size: 1rem;
			weight: normal;
		}
		letter-spacing: unset;
	}

	&__image-container { // <figure>
		width: 100%;
		margin: {
			top: 1rem;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	&__image { // <img>
		width: 100%;
	}

	&__caption { // <figcaption>
		font: {
			size: 0.75rem;
			style: italic;
		}
		text-align: right;
		padding: {
			right: 1rem;
			left: 1rem;
		}
	}

	&__metadata { // <div>
		margin-top: 1rem;
		padding: {
			right: 1rem;
			left: 1rem;
		}
	}

	&__list { // <ul>
		list-style: none;
		margin: {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		padding: {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	&__list-item:nth-of-type(1), &__list-item:nth-of-type(5) { // <li>
		margin-bottom: 1rem;
	}
}